@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* COLORS */
/* SCREEN SIZES */
/* FONTS */
@font-face {
  font-family: "Baskerville";
  src: url("./assets/fonts/Baskerville.eot");
  src: url("./assets/fonts/Baskerville.eot?#iefix") format("embedded-opentype"), url("./assets/fonts/Baskerville.woff2") format("woff2"), url("./assets/fonts/Baskerville.woff") format("woff"), url("./assets/fonts/Baskerville.ttf") format("truetype"), url("./assets/fonts/Baskerville.svg#Baskerville") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MinionVariableConcept-Italic";
  src: url("./assets/fonts/MinionVariableConcept-Italic.woff2") format("woff2"), url("./assets/fonts/MinionVariableConcept-Italic.woff") format("woff"), url("./assets/fonts/MinionVariableConcept-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "MinionVariableConcept-Roman";
  src: url("./assets/fonts/MinionVariableConcept-Roman.woff2") format("woff2"), url("./assets/fonts/MinionVariableConcept-Roman.woff") format("woff"), url("./assets/fonts/MinionVariableConcept-Roman.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.font-serif-title, .logo-collection--subtitle {
  font-family: "Baskerville", serif;
}

.font-serif, .block-grid .nav-item a, .page-contact-us form input[type=text],
.page-contact-us form input[type=email],
.page-contact-us form textarea,
.page-contact-us form input[type=file],
.page-nous-contacter form input[type=text],
.page-nous-contacter form input[type=email],
.page-nous-contacter form textarea,
.page-nous-contacter form input[type=file],
.contact-popin-content form input[type=text],
.contact-popin-content form input[type=email],
.contact-popin-content form textarea,
.contact-popin-content form input[type=file], .page-contact-us .wpcf7-file::file-selector-button,
.page-nous-contacter .wpcf7-file::file-selector-button,
.contact-popin-content .wpcf7-file::file-selector-button, .button--primary, .page-contact-us form input[type=submit],
.page-nous-contacter form input[type=submit],
.contact-popin-content form input[type=submit], .age-gate--title, header a, header .extra-nav .lang-switcher a, body {
  font-family: "MinionVariableConcept-Roman", serif;
}

.font-serif-italic, .block-region-text-item h4, .block-intro-subtitle, .wine-item-title .collection, .font-italic, .block-wine-detail .product-details-list-item-info, .block-intro-text h6, .page-contact-us .block-post-content-container > p,
.page-nous-contacter .block-post-content-container > p,
.contact-popin-content .block-post-content-container > p, .extra-side--subtitle, .age-gate--subtitle, .age-gate--text, .tagline {
  font-family: "MinionVariableConcept-Italic", serif;
}

.font-orange {
  color: #bc6e44;
}

.body-copy {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  background: white;
  font-size: 1.6rem;
  line-height: 1.2;
}

a {
  color: #bc6e44;
  text-decoration: none;
}

@keyframes animate-lines {
  0%, 100% {
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
  }
  49% {
    clip-path: inset(0 0 100% 0);
    -weblkit-clip-path: inset(0 0 100% 0);
  }
  50% {
    clip-path: inset(100% 0 0 0);
    -webkit-clip-path: inset(100% 0 0 0);
  }
}
@keyframes animate-close-lines {
  0%, 100% {
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
  }
  49% {
    clip-path: inset(0 0 100% 0);
    -weblkit-clip-path: inset(0 0 100% 0);
  }
  50% {
    clip-path: inset(100% 0 0 0);
    -webkit-clip-path: inset(100% 0 0 0);
  }
}
/* MAIN */
/* TAGLINE */
.tagline {
  color: #faf9f5;
  margin: 4rem 0 0;
}
.tagline a {
  color: white;
  text-decoration: none;
}
.tagline a:hover {
  text-decoration: underline;
}

/* INSTAGRAM */
.social-link {
  display: block;
  height: 7.4rem;
  margin: 0 auto;
  width: 7.4rem;
}
.social-link img {
  display: block;
  height: 100%;
  width: 100%;
  transform: scale(1);
  transition: transform 0.2s ease;
}
.social-link:hover img {
  transform: scale(0.9);
}

/* Blocks */
.block .block-inside {
  margin: 0 auto;
  padding: 2.5rem;
}

header .block-inside {
  background-color: white;
}

header .block-inside,
header .block-bottom .block-bottom-inside,
footer .block-inside,
footer .block-bottom .block-bottom-inside,
.block .block-inside,
.block .block-bottom .block-bottom-inside {
  max-width: 1439px;
  margin: 0 auto;
}

@media screen and (max-width: 1439px) {
  header .block-inside,
  header .block-bottom .block-bottom-inside,
  footer .block-inside,
  footer .block-bottom .block-bottom-inside,
  .block .block-inside,
  .block .block-bottom .block-bottom-inside {
    margin: 0;
  }
}
@media screen and (max-width: 1279px) {
  .block .block-inside {
    margin: 0;
    padding: 0 0 4rem;
  }
  .block-hero .block-inside {
    max-height: 80vh;
    padding-bottom: 0;
  }
  body {
    overflow-x: hidden;
  }
  .has-nav-open {
    height: 100svh;
    overflow: hidden;
  }
}
/* HEADER */
header .logo {
  display: block;
  height: 7rem;
  margin: 2rem 0 2rem 2rem;
  width: 29rem;
  z-index: 1;
}
header .logo svg {
  display: block;
  height: 100%;
  width: 100%;
}
header .header-nav,
header .navigation,
header .site-navigation,
header nav ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header .header-nav {
  padding: 2.5rem 2.5rem 0;
}
header .navigation,
header nav ul {
  gap: 1rem;
}
header nav ul li {
  padding: 5rem 0;
}
header a {
  color: #000000;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
}
header .menu a {
  position: relative;
}
header .menu a:before, header .menu a:after {
  background-color: currentColor;
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 8px;
  height: 1px;
  margin-top: -2px;
  transform: scaleX(0);
  opacity: 0;
  transition: 0.2s cubic-bezier(0.22, 0.75, 0.39, 0.92);
}
header .menu a:before {
  margin-right: 5px;
  transform-origin: right;
}
header .menu a:after {
  margin-left: 5px;
  transform-origin: left;
}
header .menu a:hover:before, header .menu a:hover:after {
  transform: scaleX(1);
  opacity: 1;
}
header .menu .current-menu-item a {
  color: #bc6e44;
}
header .menu .current-menu-item a:before, header .menu .current-menu-item a:after {
  transform: scaleX(1);
  opacity: 1;
}
header .extra-nav {
  align-items: center;
  display: flex;
  height: 5.5rem;
  justify-content: center;
  margin-left: 2rem;
  width: 11rem;
}
header .extra-nav .lang-switcher {
  background-color: #bc6e44;
  border: 1px solid #000000;
  gap: 0.3rem;
  height: 5.5rem;
  justify-content: center;
  width: 5.5rem;
}
header .extra-nav .lang-switcher li {
  padding: 0;
}
header .extra-nav .lang-switcher a {
  color: #faf9f5;
  font-weight: normal;
  font-size: 1.1rem;
  opacity: 0.5;
}
header .extra-nav .lang-switcher .active a {
  opacity: 1;
}
header .extra-nav .extra-side--btn-open {
  align-items: center;
  background-color: transparent;
  border: 1px solid #000000;
  border-left: transparent;
  display: flex;
  height: 5.5rem;
  justify-content: center;
  width: 5.5rem;
  transition: all 0.2s ease;
}
header .extra-nav .extra-side--btn-open .lines {
  display: block;
  height: 1.8rem;
  position: relative;
  width: 1.4rem;
}
header .extra-nav .extra-side--btn-open .line {
  backface-visibility: hidden;
  background-color: currentColor;
  display: block;
  height: 100%;
  position: absolute;
  width: 0.1rem;
  transition: top 0.3s ease, transform 0.3s ease;
}
header .extra-nav .extra-side--btn-open .line-1 {
  left: 0;
}
header .extra-nav .extra-side--btn-open .line-2 {
  left: 50%;
}
header .extra-nav .extra-side--btn-open .line-3 {
  left: 100%;
}
header .extra-nav .extra-side--btn-open:hover {
  background-color: #bc6e44;
  border-color: #bc6e44;
  color: #faf9f5;
}
header .extra-nav .extra-side--btn-open:hover .line {
  animation: animate-lines 0.6s cubic-bezier(0.38, 0.4, 0.47, 0.85) forwards;
}
header .extra-nav .extra-side--btn-open:hover .line-2 {
  animation-delay: 0.1s;
}
header .extra-nav .extra-side--btn-open:hover .line-3 {
  animation-delay: 0.2s;
}
header .mobile-nav {
  display: none;
}

@media screen and (max-width: 1279px) {
  header {
    position: relative;
    z-index: 999;
  }
  header .site-navigation {
    display: block;
  }
  header .block-inside {
    margin: 0 auto;
  }
  header.headroom {
    border-bottom: 0;
    height: 8rem;
  }
  header .container,
  header .header-nav {
    height: 100%;
  }
  header .header-nav {
    padding: 0;
  }
  header .container {
    position: relative;
  }
  header .logo {
    height: 4rem;
    width: 20rem;
  }
  header .header-nav {
    border-bottom: none;
  }
  header .header-nav:after {
    border-bottom: 1px solid #000000;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 8rem;
    width: 100%;
    transiton: all 0.4s ease;
  }
  header nav {
    background-color: #faf9f5;
    display: block;
    bottom: 0;
    left: 0;
    height: 100svh;
    margin: 0;
    overflow-y: auto;
    padding-top: 8rem;
    position: fixed;
    right: 0;
    top: 0;
    transform: translate(100vw, 0);
    transition: transform 0.3s ease;
  }
  header nav ul {
    display: block;
  }
  header nav ul.menu {
    margin-top: 2rem;
  }
  header nav ul li {
    padding: 2rem 0;
  }
  header nav a {
    color: #000000;
    padding: 2rem;
    position: relative;
    transition: color 0.2s ease;
  }
  header nav a:hover {
    color: grey;
  }
  header nav .current-menu-item a {
    color: red;
  }
  header nav .extra-nav {
    display: block;
    height: auto;
    margin-left: 3rem;
    margin-top: 2rem;
    width: auto;
  }
  header nav .extra-nav .lang-switcher {
    align-items: center;
    background: none;
    border: none;
    display: flex;
    gap: 0;
    height: auto;
    justify-content: flex-start;
    width: auto;
  }
  header nav .extra-nav .lang-switcher a {
    border: 0.1rem solid #000000;
    color: #000000;
    display: block;
    font-weight: bold;
    font-size: 1.6rem;
    opacity: 1;
  }
  header nav .extra-nav .lang-switcher li:not(:first-child) a {
    border-left: none;
  }
  header nav .extra-nav .lang-switcher .active {
    background-color: #bc6e44;
  }
  header nav .extra-nav .lang-switcher .active a {
    color: white;
  }
  header nav .extra-nav .extra-side--btn-open {
    display: none;
  }
  header .mobile-nav {
    display: block;
  }
  header .toggle-nav {
    height: 5rem;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 5rem;
  }
  header .toggle-nav span, header .toggle-nav:before, header .toggle-nav:after {
    background: grey;
    display: block;
    height: 0.1rem;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    transition: all 0.2s linear;
  }
  header .toggle-nav:before, header .toggle-nav:after {
    content: "";
  }
  header .toggle-nav:before {
    margin-top: -0.6rem;
  }
  header .toggle-nav:after {
    margin-top: 0.6rem;
  }
  header.nav-open .header-nav:after {
    background-color: #faf9f5;
  }
  header.nav-open .container nav {
    transform: translate(0, 0);
  }
  header.nav-open.headroom--unpinned {
    transform: none;
  }
  header.nav-open .toggle-nav span, header.nav-open .toggle-nav:before, header.nav-open .toggle-nav:after {
    background: #000000;
  }
  header.nav-open .toggle-nav span {
    opacity: 0;
  }
  header.nav-open .toggle-nav:before, header.nav-open .toggle-nav:after {
    content: "";
    margin: 0;
  }
  header.nav-open .toggle-nav:before {
    transform: translateY(-50%) rotate(45deg);
  }
  header.nav-open .toggle-nav:after {
    transform: translateY(-50%) rotate(-45deg);
  }
  .loaded header nav {
    transition: transform 0.4s ease;
  }
}
/* FOOTER */
footer {
  background: #bc6e44;
}
footer .block-inside {
  padding: 0;
}
footer .block-footer {
  display: grid;
  grid-template-columns: 3fr 5fr 2fr;
  gap: 1rem;
  padding: 5rem;
}
footer .logo-collection--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .image {
  text-align: center;
}
footer .image img {
  display: block;
  margin: 0 auto;
  max-width: 42rem;
}
footer nav {
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
footer nav ul {
  text-align: right;
}
footer nav li {
  margin-top: 1.6rem;
}
footer nav a {
  color: #faf9f5;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
}
footer nav a:hover {
  color: #000000;
}
footer nav .social-link {
  margin: 4rem 0 0;
}
@media screen and (max-width: 1279px) {
  footer .logo-collection--svg {
    width: 24rem;
  }
  footer .logo-collection--signature {
    width: 22rem;
  }
}
@media screen and (max-width: 1023px) {
  footer .block-footer {
    display: flex;
    padding: 4rem 2rem;
    flex-direction: column;
  }
  footer .block-footer .logo-collection--container {
    order: 1;
  }
  footer .block-footer nav {
    order: 2;
  }
  footer .block-footer .image {
    order: 3;
  }
  footer .image img {
    width: 100%;
  }
  footer nav {
    align-items: center;
  }
  footer nav ul {
    text-align: center;
  }
  footer nav .social-link {
    max-height: 5rem;
    max-width: 5rem;
  }
}

/* TITLE */
h2, .h2, .page .block-post-content h2 {
  font-size: 3rem;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

h3, .h3, .block-wine-detail .product-title, .block-wine-navigation .wine-navigation-title, .page-contact-us h2,
.page-nous-contacter h2,
.contact-popin-content h2, .block-store-locator h2, .page .block-post-content-container h3 {
  font-size: 2.2rem;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 0.2rem;
}

h4, .h4, .block-contact-popin .block-inside h4 {
  font-size: 2rem;
  font-variant: small-caps;
  font-weight: bold;
  letter-spacing: 0.1rem;
}

.page .block-post-content .block-inside {
  background-color: white;
}
.page .block-post-content h2 {
  font-size: 4rem;
  margin-bottom: 2.5rem;
  text-align: center;
}
.page .block-post-content-container p {
  font-size: 1.6rem;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}
@media screen and (max-width: 1439px) {
  .page .block-post-content .block-inside {
    padding: 2rem;
  }
}

.single {
  /* summary */
  /* icône + */
  /* contenu */
  /* ouvert */
}
.single .product-toggles {
  border-top: 1px solid #e5e5e5;
}
.single .toggle {
  border-bottom: 1px solid #e5e5e5;
}
.single .toggle summary {
  align-items: center;
  cursor: pointer;
  display: flex;
  font-variant: small-caps;
  font-weight: bold;
  justify-content: space-between;
  list-style: none;
  padding: 1.2rem 0;
}
.single .toggle summary::-webkit-details-marker {
  display: none;
}
.single .toggle .icon {
  width: 12px;
  height: 12px;
  position: relative;
  transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.single .toggle .icon::before,
.single .toggle .icon::after {
  content: "";
  position: absolute;
  background: currentColor;
}
.single .toggle .icon::before {
  top: 50%;
  left: 0;
  right: 0;
  height: 2px;
  transform: translateY(-50%);
}
.single .toggle .icon::after {
  left: 50%;
  top: 0;
  bottom: 0;
  width: 2px;
  transform: translateX(-50%);
}
.single .toggle .content {
  padding-bottom: 2rem;
}
.single .toggle .content table td {
  border: 0.1rem solid #727271;
  padding: 0.5rem 1rem;
}
.single .toggle .content p b {
  font-weight: bold;
}
.single .toggle .content p i {
  font-style: italic;
}
.single .toggle .content > * {
  transform-origin: top;
  clip-path: inset(0 0 100% 0);
  opacity: 0;
  transform: translateY(-8px) scaleY(0.98);
}
.single .toggle .content p {
  line-height: 1.5;
}
.single .toggle[open] .content > * {
  clip-path: inset(0 0 0 0);
  opacity: 1;
  transform: translateY(0) scaleY(1);
}
.single .toggle[open] .icon {
  transform: rotate(45deg);
}

.age-gate--container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #faf9f5 url(./assets/img/bg_pattern.jpg) repeat top left;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}
.age-gate--overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1;
}
.age-gate--modal {
  color: #faf9f5;
  text-align: center;
  max-width: 50%;
  width: 100%;
  position: relative;
  z-index: 2;
}
.age-gate--title {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin: 3rem 0;
}
.age-gate--subtitle {
  color: #bc6e44;
  font-size: 2rem;
  margin-bottom: 3rem;
}
.age-gate--subtitle a {
  color: #bc6e44;
  text-decoration: underline;
}
.age-gate--subtitle a:hover {
  text-decoration: none;
}
.age-gate--text {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 4rem;
}
.age-gate--buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.age-gate--buttons .button {
  font-size: 2.8rem;
  font-variant: small-caps;
  letter-spacing: 0.5rem;
  text-transform: none;
  width: 27.5rem;
}

.age-verified #age-gate {
  display: none;
}

/* Back to top */
#back-to-top {
  background-color: #bc6e44;
  color: white;
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 999;
  border: none;
  width: 45px;
  height: 45px;
  font-size: 22px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s, transform 0.3s;
}
#back-to-top:before, #back-to-top:after {
  content: "";
  background: #faf9f5;
  position: absolute;
  height: 0.2rem;
  width: 1.4rem;
}
#back-to-top:before {
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%) rotate(45deg);
}
#back-to-top:after {
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
#back-to-top:hover {
  transform: scale(0.9);
}
#back-to-top.show {
  opacity: 1;
  visibility: visible;
}

/* Button */
.button, .page-contact-us form input[type=submit],
.page-nous-contacter form input[type=submit],
.contact-popin-content form input[type=submit] {
  border: 0.1rem solid #000000;
  color: #000000;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  opacity: 1;
  padding: 1rem 3rem;
  transition: all 0.3s ease;
  text-align: center;
  text-transform: uppercase;
}
.button:hover, .page-contact-us form input[type=submit]:hover,
.page-nous-contacter form input[type=submit]:hover,
.contact-popin-content form input[type=submit]:hover {
  opacity: 0.9;
}
.button--primary, .page-contact-us form input[type=submit],
.page-nous-contacter form input[type=submit],
.contact-popin-content form input[type=submit] {
  background-color: #bc6e44;
  border-color: #bc6e44;
  color: #faf9f5;
}
.button--primary:hover, .page-contact-us form input[type=submit]:hover,
.page-nous-contacter form input[type=submit]:hover,
.contact-popin-content form input[type=submit]:hover {
  border-color: #faf9f5;
}

.button--transparent {
  border-color: #bc6e44;
  color: #faf9f5;
}
.button--transparent:hover {
  border-color: #faf9f5;
}

@media screen and (max-width: 1023px) {
  .button, .page-contact-us form input[type=submit],
  .page-nous-contacter form input[type=submit],
  .contact-popin-content form input[type=submit] {
    display: block;
    text-align: center;
    width: 100%;
  }
}
/* Extra Side */
.extra-side {
  background: #faf9f5 url(./assets/img/bg_pattern.jpg) repeat top left;
  bottom: 0;
  height: 100vh;
  left: auto;
  position: fixed;
  right: 0;
  top: 0;
  width: 40%;
  z-index: -1;
  transform: translateX(100%);
  visibility: hidden;
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), visibility 0.6s linear 0.6s, z-index 0s linear 0.6s;
}
.extra-side:before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 0;
}
.extra-side > * {
  position: relative;
  z-index: 1;
}
.extra-side--btn-close {
  top: 4rem;
  right: 4rem;
  position: absolute;
  height: 2rem;
  width: 2rem;
}
.extra-side--btn-close:before, .extra-side--btn-close:after {
  background-color: #000000;
  content: "";
  display: block;
  height: 2rem;
  left: 50%;
  position: absolute;
  top: 50%;
  width: 0.1rem;
  backface-visibility: hidden;
  transition: top 0.3s ease, transform 0.3s ease;
}
.extra-side--btn-close:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.extra-side--btn-close:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
.extra-side--btn-close:hover:before, .extra-side--btn-close:hover:after {
  animation: animate-close-lines 0.6s cubic-bezier(0.38, 0.4, 0.47, 0.85) forwards;
}
.extra-side--btn-close:hover:after {
  animation-delay: 0.1s;
}
.extra-side img {
  display: block;
  margin: 0 auto;
  max-height: 22rem;
}
.extra-side--inside {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 12rem 0;
  text-align: center;
}
.extra-side--subtitle {
  color: #bc6e44;
  font-size: 3.6rem;
  font-weight: bold;
  margin-top: 1.6rem;
}
.extra-side .tagline {
  color: #000000;
  margin: 4rem 0;
}
.extra-side .tagline a {
  color: #000000;
}
.extra-side-cover {
  height: 100%;
  left: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  background-color: rgba(43, 40, 36, 0.3);
  transition: 0.3s;
  width: 100%;
  z-index: 999;
  pointer-events: none;
}
.extra-side--opened .extra-side {
  transform: translateX(0);
  visibility: visible;
  z-index: 1000;
  transition: transform 0.6s cubic-bezier(0.77, 0, 0.175, 1), visibility 0.6s linear, z-index 0s linear;
}
.extra-side--opened .extra-side-cover {
  opacity: 1;
  pointer-events: all;
}

.no-transition .extra-side {
  transition: none !important;
}

/* LOGO */
.logo-collection--container {
  text-align: center;
}
.logo-collection--svg {
  display: block;
  margin: 0 auto;
  max-width: 28rem;
  width: 28rem;
}
.logo-collection--subtitle {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.logo-collection--signature {
  margin-top: 1rem;
  max-width: 24rem;
  width: 24rem;
}

.block-store-locator .block-inside {
  background-color: white;
}
.block-store-locator h2 {
  font-size: 3rem;
  margin-bottom: 6rem;
  text-align: center;
}

/* Conteneur principal */
.store-locator {
  display: flex;
}

/* Colonne liste */
.store-left {
  flex: 1;
  padding: 0 2rem 0;
}

.store-list {
  overflow-y: auto;
  box-sizing: border-box;
  min-height: 50rem;
  height: 80vh;
  max-height: 80vh;
  overflow: auto;
}

/* Champ de recherche */
.store-search-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.store-search {
  flex: 1;
  width: 100%;
  padding: 10px 30px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.clear-search {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  line-height: 0;
  color: #888;
  cursor: pointer;
  padding: 8px 12px 12px;
}

.clear-search:hover {
  color: #333;
}

/* Liste des magasins */
.stores {
  list-style: none;
  padding: 0;
  margin: 0;
}
.stores .store-item {
  padding: 1rem;
  border-bottom: 1px solid #faf9f5;
  cursor: pointer;
  transition: background-color 0.2s;
}
.stores .store-item:hover {
  background-color: #faf9f5;
}
.stores .store-item-name {
  display: block;
  font-weight: bold;
  font-variant: small-caps;
  font-size: 2rem;
}
.stores .store-item-address {
  display: block;
  font-size: 1.6rem;
}
.stores .store-item-hours, .stores .store-item-email, .stores .store-item-phone {
  display: block;
  font-size: 1.6rem;
  color: #bc6e44;
}
.stores .store-item.active {
  background-color: #faf9f5;
  border-left: 3px solid #bc6e44;
}
.stores .store-item.active .store-item-address {
  color: #bc6e44;
}

/* Colonne carte */
.store-map {
  flex: 2;
  min-height: 50rem;
}

@media screen and (max-width: 1023px) {
  .store-locator {
    flex-direction: column;
  }
  .store-left {
    padding-bottom: 2rem;
  }
  .store-list {
    height: 50rem;
  }
}
.wine-item-title {
  text-align: center;
}
.wine-item-title span {
  display: block;
}
.wine-item-title .collection {
  color: #bc6e44;
  margin-top: 2rem;
}
.wine-item-title .label {
  color: #000000;
  font-weight: bold;
  margin-top: 0.5rem;
  text-transform: uppercase;
}
.wine-item-title .detail {
  color: #000000;
  font-variant: small-caps;
  letter-spacing: 0.1rem;
}
.wine-item-image {
  align-items: center;
  background-color: #faf9f5;
  display: flex;
  justify-content: center;
  height: 30rem;
  padding: 0 2rem;
}
.wine-item img {
  display: block;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  padding: 1rem;
  opacity: 1;
  transform: scale(1);
  transition: all 0.3s ease;
}
.wine-item:hover img {
  opacity: 0.7;
  transform: scale(0.95);
}

.page-contact-us,
.page-nous-contacter,
.contact-popin-content {
  /* Conteneur */
  /* Input file */
  /* Bouton "Choisir un fichier" */
  /* Focus accessibilité */
}
.page-contact-us h2,
.page-nous-contacter h2,
.contact-popin-content h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
}
.page-contact-us .block-post-content-container > p,
.page-nous-contacter .block-post-content-container > p,
.contact-popin-content .block-post-content-container > p {
  color: #bc6e44;
  font-size: 2rem;
  text-align: center;
}
.page-contact-us .block-post-content-container p + .wp-block-columns,
.page-nous-contacter .block-post-content-container p + .wp-block-columns,
.contact-popin-content .block-post-content-container p + .wp-block-columns {
  margin-top: 4rem;
}
.page-contact-us form input[type=text],
.page-contact-us form input[type=email],
.page-contact-us form textarea,
.page-contact-us form input[type=file],
.page-nous-contacter form input[type=text],
.page-nous-contacter form input[type=email],
.page-nous-contacter form textarea,
.page-nous-contacter form input[type=file],
.contact-popin-content form input[type=text],
.contact-popin-content form input[type=email],
.contact-popin-content form textarea,
.contact-popin-content form input[type=file] {
  appearance: none;
  border: 0.1rem solid #727271;
  border-radius: 0;
  font-size: 1.6rem;
  margin-bottom: 1.5rem;
  padding: 1.2rem;
  width: 100%;
}
.page-contact-us form input[type=submit],
.page-nous-contacter form input[type=submit],
.contact-popin-content form input[type=submit] {
  appearance: none;
  cursor: pointer;
}
.page-contact-us form input[aria-invalid=true],
.page-contact-us form textarea[aria-invalid=true],
.page-nous-contacter form input[aria-invalid=true],
.page-nous-contacter form textarea[aria-invalid=true],
.contact-popin-content form input[aria-invalid=true],
.contact-popin-content form textarea[aria-invalid=true] {
  border-color: #dc3232;
}
.page-contact-us form .wpcf7-form-control-wrap,
.page-nous-contacter form .wpcf7-form-control-wrap,
.contact-popin-content form .wpcf7-form-control-wrap {
  display: block;
  position: relative;
}
.page-contact-us form .wpcf7-not-valid-tip,
.page-nous-contacter form .wpcf7-not-valid-tip,
.contact-popin-content form .wpcf7-not-valid-tip {
  font-size: 1.2rem;
  position: absolute;
  right: 0;
  text-align: right;
  bottom: 0;
}
.page-contact-us form input[type=file],
.page-nous-contacter form input[type=file],
.contact-popin-content form input[type=file] {
  border: none;
  padding: 0;
}
.page-contact-us form .submit-area p,
.page-nous-contacter form .submit-area p,
.contact-popin-content form .submit-area p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.page-contact-us .wpcf7 form .wpcf7-response-output,
.page-nous-contacter .wpcf7 form .wpcf7-response-output,
.contact-popin-content .wpcf7 form .wpcf7-response-output {
  border: none;
  color: white;
  margin: 1.5rem 0 0;
  padding: 1rem;
}
.page-contact-us .wpcf7 form.invalid .wpcf7-response-output,
.page-nous-contacter .wpcf7 form.invalid .wpcf7-response-output,
.contact-popin-content .wpcf7 form.invalid .wpcf7-response-output {
  background: #dc3232;
}
.page-contact-us .wpcf7 form.sent .wpcf7-response-output,
.page-nous-contacter .wpcf7 form.sent .wpcf7-response-output,
.contact-popin-content .wpcf7 form.sent .wpcf7-response-output {
  background: #46b450;
}
.page-contact-us .wp-block-image,
.page-nous-contacter .wp-block-image,
.contact-popin-content .wp-block-image {
  height: 60rem;
}
.page-contact-us .wp-block-image img,
.page-nous-contacter .wp-block-image img,
.contact-popin-content .wp-block-image img {
  display: block;
  object-fit: cover;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
}
.page-contact-us .wpcf7-form-control-wrap,
.page-nous-contacter .wpcf7-form-control-wrap,
.contact-popin-content .wpcf7-form-control-wrap {
  display: inline-block;
  position: relative;
}
.page-contact-us .wpcf7-file,
.page-nous-contacter .wpcf7-file,
.contact-popin-content .wpcf7-file {
  font-family: inherit;
  font-size: 14px;
  color: #111;
}
.page-contact-us .wpcf7-file::file-selector-button,
.page-nous-contacter .wpcf7-file::file-selector-button,
.contact-popin-content .wpcf7-file::file-selector-button {
  font-variant: small-caps;
  padding: 10px 16px;
  margin-right: 12px;
  border: 0.1rem solid #bc6e44;
  background-color: #bc6e44;
  color: white;
  font-weight: 500;
  cursor: pointer;
  opacity: 1;
  transition: all 0.3s ease;
}
.page-contact-us .wpcf7-file::file-selector-button:hover,
.page-nous-contacter .wpcf7-file::file-selector-button:hover,
.contact-popin-content .wpcf7-file::file-selector-button:hover {
  border-color: #faf9f5;
  opacity: 0.9;
}
.page-contact-us .wpcf7-file:focus::file-selector-button,
.page-nous-contacter .wpcf7-file:focus::file-selector-button,
.contact-popin-content .wpcf7-file:focus::file-selector-button {
  outline: 2px solid #93c5fd;
  outline-offset: 2px;
}
@media screen and (max-width: 1279px) {
  .page-contact-us form .wpcf7-not-valid-tip,
  .page-nous-contacter form .wpcf7-not-valid-tip,
  .contact-popin-content form .wpcf7-not-valid-tip {
    line-height: 0.5;
  }
}

.block-contact-popin {
  position: fixed;
  inset: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  z-index: -1;
}

/* Popin visible */
.block-contact-popin.is-open {
  opacity: 1;
  pointer-events: auto;
  z-index: 999;
}

/* Contenu de la popin */
.block-contact-popin .block-inside {
  position: relative;
  background: #fff;
  max-width: 600px;
  width: calc(100% - 40px);
  padding: 4rem;
  max-height: 90vh;
  overflow-y: auto;
  transform: translateY(20px);
  transition: transform 0.3s ease;
}
.block-contact-popin .block-inside h4 {
  margin-top: 0;
  margin-bottom: 2rem;
  text-align: center;
}

/* Animation à l’ouverture */
.block-contact-popin.is-open .block-inside {
  transform: translateY(0);
}

/* Bouton fermer */
.contact-popin-close {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-family: system-ui, sans-serif;
  font-size: 1.5rem;
  cursor: pointer;
  line-height: 1;
  padding: 1rem;
}

.block-grid .block-inside {
  background-color: white;
}
.block-grid .nav-child-categories {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 4rem;
  margin-bottom: 4rem;
}
.block-grid .nav-item a {
  color: #000000;
  font-size: 1.4rem;
  font-weight: bold;
  letter-spacing: 0.12rem;
  text-transform: uppercase;
}
.block-grid .nav-item a:hover {
  color: #bc6e44;
}
.block-grid .nav-item.is-active a {
  color: #bc6e44;
  font-weight: bold;
}
.block-grid-items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}
.block-grid .no-wines {
  text-align: center;
  margin-bottom: 4rem;
}
@media screen and (max-width: 1023px) {
  .block-grid .block-inside {
    padding: 0 2rem;
  }
  .block-grid .nav-child-categories {
    flex-direction: column;
    gap: 3rem;
  }
  .block-grid-items {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .block-grid-items {
    grid-template-columns: repeat(2, 1fr);
  }
}

.page .block-grid .block-inside {
  padding-bottom: 6rem;
}

.block-hero {
  overflow: hidden;
  padding: 0;
  width: 100%;
}
.block-hero .block-inside {
  background-color: white;
}
.block-hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

@media screen and (min-width: 1279px) {
  .home .block-hero .block-inside,
  .block-hero.is-home .block-inside {
    aspect-ratio: 2/1;
  }
}
.block-intro .block-inside {
  background-color: white;
}
.block-intro-content {
  padding: 0 12rem;
  position: relative;
}
.block-intro-title, .block-intro-subtitle {
  max-width: 60%;
  margin: 0 auto;
  text-align: center;
}
.block-intro-title {
  font-size: 3.2rem;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 0.2rem;
}
.block-intro-subtitle {
  color: #bc6e44;
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 4rem;
}
.block-intro-text {
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 2.6rem;
  margin: 0 auto 2.5rem;
  max-width: 80%;
}
.block-intro-text i {
  font-style: italic;
}
.block-intro-text b, .block-intro-text strong {
  font-weight: bold;
}
.block-intro-text h6 {
  color: #bc6e44;
  margin: 2rem 0;
  text-align: center;
}
.block-intro-text ul {
  list-style-type: circle;
  margin: 1rem 0;
  padding-left: 4rem;
}
.block-intro-text ul li {
  margin: 0.8rem 0;
}
.block-intro.cols-2 .block-intro-text {
  break-inside: avoid;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-count: 2;
  column-gap: 4rem;
}
.block-intro-stamp {
  position: absolute;
  right: 0;
  top: 0;
}
.block-intro-stamp img {
  display: block;
  height: auto;
  width: 20rem;
}

.home .block-intro-title {
  margin-bottom: 1.5rem;
}
.home .block-intro-subtitle {
  font-size: 2.4rem;
  font-weight: normal;
}
.home .block-intro-content {
  padding-top: 6rem;
}

.page-template-page-vins .block-intro-content {
  margin: 0 auto;
  max-width: 68rem;
  padding: 0;
}
.page-template-page-vins .block-intro-text {
  margin-bottom: 0;
  max-width: 100%;
  text-align: center;
}

.page-template-page-store-locator .block-intro-subtitle {
  font-size: 2.4rem;
  font-weight: normal;
}

@media screen and (max-width: 767px) {
  .block-intro.cols-2 .block-intro-text {
    columns: 1;
  }
  .page-template-page-store-locator .block-intro-title, .page-template-page-store-locator .block-intro-subtitle {
    max-width: 100%;
  }
  .page-template-page-store-locator .block-intro-subtitle {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 1279px) {
  .block-intro .block-inside {
    padding: 4rem 0;
  }
  .block-intro-title, .block-intro-subtitle {
    padding: 0 2rem;
  }
  .block-intro-title {
    max-width: 75%;
  }
  .block-intro-text {
    max-width: 100%;
    padding: 0 2rem;
  }
  .block-intro-stamp {
    right: -1rem;
    top: -1rem;
  }
  .block-intro-stamp img {
    opacity: 0.5;
    width: 10rem;
  }
  .block-intro-content {
    padding: 0;
  }
  .home .block-intro {
    overflow: hidden;
  }
  .page-template-page-terroir .block-intro-subtitle {
    max-width: 100%;
  }
}
.block-list .block-inside {
  background-color: white;
}
.block-list-header {
  align-items: center;
  display: flex;
  gap: 4rem;
  justify-content: center;
  margin-bottom: 4rem;
}
.block-list-header .button {
  min-width: 15%;
}
.block-list-items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem;
}

.home .block-list .block-inside {
  padding-bottom: 6rem;
}
.home .block-list .swiper-container {
  position: relative;
}
.home .block-list .block-list-button-prev,
.home .block-list .block-list-button-next {
  background-color: #bc6e44;
  color: white;
  cursor: pointer;
  z-index: 999;
  border: none;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 2.2rem;
  opacity: 1;
  position: absolute;
  transform: scale(1);
  transition: transform 0.3s;
}
.home .block-list .block-list-button-prev:before, .home .block-list .block-list-button-prev:after,
.home .block-list .block-list-button-next:before,
.home .block-list .block-list-button-next:after {
  content: "";
  background: #faf9f5;
  position: absolute;
  height: 0.2rem;
  width: 1.4rem;
}
.home .block-list .block-list-button-prev:before,
.home .block-list .block-list-button-next:before {
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.home .block-list .block-list-button-prev:after,
.home .block-list .block-list-button-next:after {
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.home .block-list .block-list-button-prev.swiper-button-disabled,
.home .block-list .block-list-button-next.swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
}
.home .block-list .block-list-button-prev {
  top: 12.75rem;
  left: -2.25rem;
  transform: rotate(-90deg);
}
.home .block-list .block-list-button-prev:hover {
  transform: scale(0.9) rotate(-90deg);
}
.home .block-list .block-list-button-next {
  top: 12.75rem;
  right: -2.25rem;
  transform: rotate(90deg);
}
.home .block-list .block-list-button-next:hover {
  transform: scale(0.9) rotate(90deg);
}

@media screen and (max-width: 1279px) {
  .block-list .block-inside {
    padding: 0 2rem 4rem;
  }
  .block-list-header {
    display: block;
  }
  .block-list-title {
    margin-bottom: 2rem;
    text-align: center;
  }
}
.block-region .block-inside {
  background-color: white;
}
.block-region-content {
  padding: 0 12rem;
  position: relative;
}
.block-region-title {
  font-size: 3.2rem;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 0.2rem;
  margin: 0 auto 4rem;
  max-width: 40%;
  text-align: center;
}
.block-region-details {
  align-items: flex-start;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}
.block-region-text-item {
  display: flex;
  margin-bottom: 2rem;
}
.block-region-text-item-content {
  padding-top: 1rem;
}
.block-region-text-item-icon {
  flex-shrink: 0;
  margin-right: 6rem;
  width: 5rem;
}
.block-region-text-item-icon img {
  display: block;
  height: auto;
  max-width: 5rem;
  max-height: 5rem;
  margin: 0 auto;
}
.block-region-text-item h4 {
  color: #bc6e44;
  font-size: 2rem;
  margin-bottom: 0.5rem;
  position: relative;
}
.block-region-text-item h4:before {
  content: "";
  border-top: 0.1rem solid #bc6e44;
  position: absolute;
  left: -4rem;
  top: 1.2rem;
  width: 3rem;
}
.block-region-text-item p {
  font-size: 1.6rem;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 0.2rem;
}
.block-region-map {
  border-left: 0.1rem solid #bc6e44;
  min-width: 60%;
  width: 60%;
}
.block-region-map img {
  display: block;
  height: auto;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .block-region-details {
    flex-direction: column;
    gap: 2rem;
  }
  .block-region-map {
    border: none;
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 1279px) {
  .block-region-title {
    max-width: 100%;
  }
  .block-region-content {
    padding: 0 2rem;
  }
}

.block-wine-detail .block-inside {
  align-items: flex-start;
  background-color: white;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}
.block-wine-detail .product-container {
  align-items: flex-start;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
  width: 100%;
}
.block-wine-detail .product-gallery-block, .block-wine-detail .product-text-block {
  flex: 0 0 50%;
}
.block-wine-detail .product-gallery {
  align-items: flex-end;
  display: flex;
  gap: 2rem;
}
.block-wine-detail .product-main-image {
  align-items: center;
  background-color: #faf9f5;
  display: flex;
  height: 70rem;
  justify-content: center;
  padding: 2rem;
  text-align: center;
  width: 100%;
}
.block-wine-detail .product-main-image img {
  display: block;
  object-fit: contain;
  margin: 0 auto;
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  width: 100%;
}
.block-wine-detail .product-thumbs {
  display: flex;
  gap: 2rem;
  flex-direction: column;
}
.block-wine-detail .product-thumbs .thumb img {
  background-color: #faf9f5;
  width: 8rem;
  height: 8rem;
  object-fit: cover;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.2s;
}
.block-wine-detail .product-thumbs .thumb img:hover {
  opacity: 0.7;
  transform: scale(1.05);
}
.block-wine-detail .product-title, .block-wine-detail .product-content {
  max-width: 50rem;
}
.block-wine-detail .product-title {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.block-wine-detail .product-details-content p {
  line-height: 1.3;
  margin-bottom: 2rem;
}
.block-wine-detail .product-details-content strong {
  font-weight: 600;
  font-variant: small-caps;
}
.block-wine-detail .product-details-content em {
  font-style: italic;
}
.block-wine-detail .product-details-highlight {
  align-items: flex-start;
  border-bottom: 0.1rem solid #e5e5e5;
  border-top: 0.1rem solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  margin: 0 0 2rem;
  padding: 2rem 0;
}
.block-wine-detail .product-details-highlight .product-details-icon {
  height: 5rem;
  width: 5rem;
}
.block-wine-detail .product-details-highlight-item {
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 50%;
}
.block-wine-detail .product-details-highlight-label {
  font-weight: 600;
  font-variant: small-caps;
  margin-top: 1rem;
}
.block-wine-detail .product-details-highlight-info {
  font-size: 1.8rem;
  text-align: center;
}
.block-wine-detail .product-details-tasting, .block-wine-detail .product-details-pairing {
  align-items: center;
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  margin-bottom: 2rem;
}
.block-wine-detail .product-details-tasting .product-details-icon, .block-wine-detail .product-details-pairing .product-details-icon {
  height: 5rem;
  width: 5rem;
}
.block-wine-detail .product-details-icon {
  display: block;
  flex-shrink: 0;
  height: 2rem;
  width: 2rem;
}
.block-wine-detail .product-details-icon img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.block-wine-detail .product-details-list-item {
  align-items: center;
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.block-wine-detail .product-details-list-item-label {
  font-weight: 600;
  font-variant: small-caps;
  white-space: nowrap;
}
.block-wine-detail .product-details-list-item-info {
  align-items: center;
  color: #bc6e44;
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
}
.block-wine-detail .product-details-list-labels {
  align-items: center;
  display: flex;
  gap: 1rem;
  margin-bottom: 2rem;
}
.block-wine-detail .product-details-list-labels img {
  display: block;
  width: 4rem;
}

.block-wine-navigation .block-inside {
  background-color: white;
}
.block-wine-navigation .wine-navigation-title {
  font-size: 3rem;
  margin: 4rem 0;
  text-align: center;
}
.block-wine-navigation .wine-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
}
.block-wine-navigation .wine-link {
  text-align: center;
}
.block-wine-navigation .wine-thumb {
  height: 20rem;
  margin: 0 auto;
  width: 20rem;
}
.block-wine-navigation .wine-thumb img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .block-wine-detail .block-inside {
    padding: 2rem;
  }
  .block-wine-detail .product-container {
    display: block;
  }
  .block-wine-detail .product-gallery-block,
  .block-wine-detail .product-text-block {
    flex: auto;
  }
  .block-wine-detail .product-main-image {
    display: none;
  }
  .block-wine-detail .product-gallery-block {
    margin-bottom: 2rem;
  }
  .block-wine-detail .product-gallery {
    align-items: flex-start;
    overflow: auto;
  }
  .block-wine-detail .product-thumbs .thumb img {
    height: 20rem;
    width: 20rem;
  }
  .block-wine-navigation .block-inside {
    padding: 2rem;
  }
  .block-wine-navigation .wine-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 1279px) {
  .block-wine-detail .block-inside {
    padding: 4rem;
  }
  .block-wine-detail .product-title,
  .block-wine-detail .product-content {
    max-width: 100%;
  }
  .block-wine-detail .product-gallery-block,
  .block-wine-detail .product-text-block {
    flex: 0 0 calc(50% - 2rem);
  }
  .block-wine-detail .product-gallery {
    flex-direction: column;
  }
  .block-wine-detail .product-thumbs {
    flex-direction: row;
    order: 2;
  }
  .block-wine-detail .product-main-image {
    order: 1;
  }
  .block-wine-navigation .block-inside {
    padding: 4rem;
  }
}

/*# sourceMappingURL=theme.css.map */
