/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* COLORS */
/* SCREEN SIZES */
/* FONTS */
/*
@font-face {
    font-family: 'Media Sans SemiCondensed';
    src: url('./assets/fonts/MediaSansSemiCondensed-Regular.eot');
    src: url('./assets/fonts/MediaSansSemiCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/MediaSansSemiCondensed-Regular.woff2') format('woff2'),
        url('./assets/fonts/MediaSansSemiCondensed-Regular.woff') format('woff'),
        url('./assets/fonts/MediaSansSemiCondensed-Regular.ttf') format('truetype'),
        url('./assets/fonts/MediaSansSemiCondensed-Regular.svg#MediaSansSemiCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*/
.font-serif, .block-columns .chapo, .font-serif-black, .block-hero .strong, .font-serif-bold, .font-serif-medium, .font-serif-regular, .block-contact p, .font-serif-light, .block-hero .quote {
  font-family: "sole-serif-small-variable", serif;
}

.font-serif-light, .block-hero .quote {
  font-variation-settings: "opsz" 500, "wght" 200;
}

.font-serif-regular, .block-contact p {
  font-variation-settings: "opsz" 500, "wght" 400;
}

.font-serif-medium {
  font-variation-settings: "opsz" 500, "wght" 500;
}

.font-serif-bold {
  font-variation-settings: "opsz" 500, "wght" 700;
}

.font-serif-black, .block-hero .strong {
  font-variation-settings: "opsz" 500, "wght" 900;
}

.font-sans, body, header nav a, h3, .h3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
}

.body-copy, .block-content .block-content-content p, .block-columns .item-content, .block-grid .item-content {
  font-size: 1.6rem;
  line-height: 2.6rem;
}

/* TITLE */
h3, .h3 {
  font-size: 4rem;
  line-height: 7.2rem;
  text-transform: uppercase;
}

h5, .h5 {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 3.4rem;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-size: 62.5%;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  background-color: #093E34;
  color: #BFBFFD;
  font-size: 1.6rem;
  line-height: 1.2;
}

::selection {
  color: #2b322e;
  background: #dafee2;
}

a {
  text-decoration: none;
}

/* HEADER */
header {
  background-color: #093E34;
  color: #BFBFFD;
}
header .block-inside {
  margin: 0 auto;
  max-width: 1439px;
}
header .logo {
  color: #BFBFFD;
  display: block;
  height: 5.6rem;
  margin: 0;
  transition: color 0.2s ease;
  width: 28rem;
}
header .header-nav {
  align-items: center;
  display: flex;
  height: 13.6rem;
  justify-content: space-between;
}
header .mobile-nav {
  display: none;
}
header nav {
  margin: 0;
  /*
  .has-secondary-nav { 
  	position: relative; 
  }

  .secondary-nav { 
  	background-color: $black;
  	left: 0;
  	opacity: 0;
  	padding-bottom: 2rem;
  	position: absolute;
  	top: 6rem;
  	transform: translateY(-2em);
  	transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
  	visibility: hidden;
  	width: 22rem;
  	z-index: -1;

  	li {
  		&:first-child {
  			margin-top: 1rem;
  		}
  	}
  	a {
  		display: block;
  		padding: 1rem 3rem;
  		text-transform: lowercase;
  	}
  }

  .has-secondary-nav:focus .secondary-nav,
  .has-secondary-nav:focus-within .secondary-nav,
  .has-secondary-nav:hover .secondary-nav {
  	opacity: 1;
  	transform: translateY(0%);
  	transition-delay: 0s, 0s, 0.3s;
  	visibility: visible;
  	z-index: 1;
  }
  */
}
header nav a {
  color: #BFBFFD;
  display: block;
  font-size: 1.4rem;
  padding: 1.6rem;
  text-transform: uppercase;
}
header nav a:hover {
  color: #D1FFE0;
}
header nav > ul {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
header nav ul li:last-child a {
  padding-right: 0;
}

/* HEADROOM */
.headroom {
  border-bottom: 0.1rem solid #BFBFFD;
  height: 13.6rem;
  position: fixed;
  top: 0;
  width: 100%;
  will-change: transform;
  transition: transform 0.3s linear;
  z-index: 10000;
}

.headroom--pinned {
  transform: translateY(0%);
}

.headroom--unpinned {
  transform: translateY(-100%);
}

/* MAIN */
.main {
  padding-top: 13.6rem;
}

/* FOOTER */
footer {
  background: #093E34;
  color: #BFBFFD;
  font-size: 1.4rem;
}
footer .logo,
footer .logo img {
  display: block;
}
footer a {
  color: #BFBFFD;
  transition: color 0.2s ease;
}
footer a:hover {
  color: #D1FFE0;
}
footer nav ul {
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}
footer nav a {
  text-transform: uppercase;
}
footer .links-social ul {
  align-items: center;
  display: flex;
  gap: 2.4rem;
  justify-content: center;
  margin-top: 4rem;
}
footer .block-inside {
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1439px;
  padding: 7.2rem 0;
}
footer .left-col {
  align-items: flex-start;
  display: flex;
  gap: 8rem;
  justify-content: space-between;
}
footer .block-bottom {
  border-top: 0.1rem solid #BFBFFD;
  padding: 2.4rem 0;
}
footer .block-bottom .block-bottom-inside {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1439px;
}

/* Button */
.button {
  border-radius: 0.8rem;
  display: inline-block;
  font-size: 1.7rem;
  letter-spacing: -1.5%;
  padding: 1.5rem 5rem;
  text-transform: uppercase;
  transition: all 0.2s ease;
}
.button:hover {
  background-color: #D1FFE0;
  color: #093E34;
}
.button:focus {
  background-color: #B3E8C5;
  color: #093E34;
}

.button-light {
  background-color: #BFBFFD;
  color: #093E34;
}

.button-dark {
  background-color: #093E34;
  color: #BFBFFD;
}

/* Blocks */
.block {
  padding: 0 2rem;
}
.block .block-inside {
  margin: 0 auto;
  max-width: 1439px;
  padding: 12rem 0;
}

@media screen and (max-width: 1600px) {
  header .block-inside,
  header .block-bottom .block-bottom-inside,
  footer .block-inside,
  footer .block-bottom .block-bottom-inside,
  .block .block-inside,
  .block .block-bottom .block-bottom-inside {
    margin: 0 8rem;
  }
}
@media screen and (max-width: 1279px) {
  header nav a {
    font-size: 1.3rem;
    padding: 0.8rem;
  }
}
@media screen and (max-width: 1023px) {
  .block .block-inside {
    margin: 0 2rem;
    padding: 8rem 0;
  }
  body {
    overflow-x: hidden;
  }
  header .block-inside {
    margin: 0 auto;
  }
  header.headroom {
    border-bottom: 0;
    height: 8rem;
  }
  header .container,
  header .header-nav {
    height: 100%;
  }
  header .logo {
    height: 4rem;
    margin: 2rem 0 2rem 2rem;
    width: 20rem;
    z-index: 1;
  }
  header .logo img {
    display: block;
    width: 20rem;
  }
  header .header-nav {
    border-bottom: none;
  }
  header .header-nav:after {
    background-color: #093E34;
    border-bottom: 0.1rem solid #BFBFFD;
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 8rem;
    width: 100%;
    transiton: all 0.4s ease;
  }
  header nav {
    background-color: #FFFFFF;
    display: block;
    bottom: 0;
    left: 0;
    height: 100svh;
    margin: 0;
    overflow-y: auto;
    padding-top: 8rem;
    position: fixed;
    right: 0;
    top: 0;
    transform: translate(100vw, 0);
    transition: transform 0.3s ease;
  }
  header nav > ul {
    display: block;
  }
  header nav a {
    color: #093E34;
    padding: 2rem 3rem;
    transition: color 0.2s ease;
  }
  header nav a:hover {
    color: #5353B8;
  }
  header nav .secondary-nav {
    display: block;
    margin-left: 2rem;
    opacity: 1;
    position: static;
    transform: none;
    visibility: visible;
  }
  header .mobile-nav {
    display: block;
  }
  header .toggle-nav {
    height: 5rem;
    position: absolute;
    right: 2rem;
    top: 50%;
    transform: translateY(-50%);
    width: 5rem;
  }
  header .toggle-nav span, header .toggle-nav:before, header .toggle-nav:after {
    background: #BFBFFD;
    display: block;
    height: 0.1rem;
    opacity: 1;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 3rem;
    transition: all 0.2s linear;
  }
  header .toggle-nav:before, header .toggle-nav:after {
    content: "";
  }
  header .toggle-nav:before {
    margin-top: -0.6rem;
  }
  header .toggle-nav:after {
    margin-top: 0.6rem;
  }
  header.nav-open .logo {
    color: #093E34;
  }
  header.nav-open .header-nav:after {
    background-color: #FFFFFF;
    border-bottom-color: #093E34;
  }
  header.nav-open .container nav {
    transform: translate(0, 0);
  }
  header.nav-open.headroom--unpinned {
    transform: none;
  }
  header.nav-open .toggle-nav span, header.nav-open .toggle-nav:before, header.nav-open .toggle-nav:after {
    background: #093E34;
  }
  header.nav-open .toggle-nav span {
    opacity: 0;
  }
  header.nav-open .toggle-nav:before, header.nav-open .toggle-nav:after {
    content: "";
    margin: 0;
  }
  header.nav-open .toggle-nav:before {
    transform: translateY(-50%) rotate(45deg);
  }
  header.nav-open .toggle-nav:after {
    transform: translateY(-50%) rotate(-45deg);
  }
  .loaded header nav {
    transition: transform 0.4s ease;
  }
  .has-nav-open {
    height: 100svh;
    overflow: hidden;
  }
  .main {
    padding-top: 8rem;
  }
  footer .block-inside {
    display: block;
    margin: 6.4rem auto;
    padding: 0 2rem;
  }
  footer .logo img {
    margin: 0 auto 4rem;
  }
  footer .left-col {
    display: block;
    text-align: center;
  }
  footer .links-social {
    margin-top: 5.6rem;
  }
  footer .block-bottom {
    padding: 4rem 0;
  }
  footer .block-bottom .block-bottom-inside {
    display: block;
    margin: 0 2rem;
    text-align: center;
  }
  footer .block-bottom div {
    margin-bottom: 2.4rem;
  }
  footer .block-bottom a {
    font-weight: 500;
  }
}
.block-hero {
  background-color: #093E34;
}
.block-hero .block-inside {
  align-items: center;
  display: flex;
  gap: 5rem;
  padding: 12.5rem 0;
}
.block-hero .col {
  color: #BFBFFD;
}
.block-hero .quote {
  font-size: 5rem;
  font-style: italic;
  margin-top: 3.2rem;
}
.block-hero .author {
  font-size: 1.6rem;
  line-height: 4.4rem;
  margin: 1rem 0;
  text-transform: uppercase;
}
.block-hero .button {
  margin-top: 3.2rem;
}
.block-hero .hero-image {
  border-radius: 0.8rem;
  display: block;
  height: 65.8rem;
  object-fit: cover;
  width: 48.5rem;
}
@media screen and (max-width: 1023px) {
  .block-hero .hero-image {
    display: none;
  }
}

.block-grid {
  background-color: #FFFFFF;
  color: #1C1C28;
}
.block-grid .block-inside {
  display: flex;
  flex-direction: column;
}
.block-grid h3 {
  margin-bottom: 4.8rem;
}
.block-grid h5 {
  margin: 1.6rem 0;
}
.block-grid .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6.6rem;
}
.block-grid .button {
  margin: 4.8rem auto 0;
}
@media screen and (max-width: 1023px) {
  .block-grid .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .block-grid .grid {
    grid-template-columns: repeat(1, 1fr);
    gap: 4.4rem;
  }
}

.block-list {
  background-color: #093E34;
  color: #BFBFFD;
}
.block-list h3 {
  margin-bottom: 5.6rem;
}
.block-list .block-inside {
  display: flex;
  flex-direction: column;
}
.block-list .block-list-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 6.6rem;
}
.block-list .block-case-study {
  align-items: stretch;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: start;
  height: 100%;
  overflow: hidden;
}
.block-list .block-case-study img {
  display: block;
  max-height: 24.5rem;
  max-width: 100%;
  object-fit: cover;
}
.block-list .block-case-study .block-case-study-title {
  background-color: #FFFFFF;
  border-radius: 0 0 0.8rem 0.8rem;
  color: #1C1C28;
  flex: 1;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 3.4rem;
  padding: 3.2rem 3.2rem 4rem;
  transition: background-color 0.2s ease;
}
.block-list .block-case-study:hover .block-case-study-title {
  background-color: #D1FFE0;
  color: #093E34;
}
.block-list .button {
  margin: 4.8rem auto 0;
}
@media screen and (max-width: 1680px) {
  .block-list .block-list-items {
    gap: 4.4rem;
  }
}
@media screen and (max-width: 1023px) {
  .block-list .block-list-items {
    display: flex;
    flex-direction: column;
  }
}

.block-columns {
  background-color: #FFFFFF;
  color: #1C1C28;
}
.block-columns .block-inside {
  display: flex;
  flex-direction: column;
}
.block-columns .chapo {
  color: #5353B8;
  font-style: italic;
  font-size: 2.6rem;
  margin-bottom: 5.6rem;
  width: 75%;
}
.block-columns .block-columns-items {
  align-items: center;
  display: flex;
  gap: 6rem;
  justify-content: space-between;
}
.block-columns .button {
  margin: 4.8rem auto 0;
}
.block-columns .item-title {
  margin-bottom: 1.6rem;
}
@media screen and (max-width: 1023px) {
  .block-columns .block-columns-items {
    display: block;
  }
}

.block-content {
  background-color: #FFFFFF;
  color: #1C1C28;
}
.block-content.bg-purple-light {
  background-color: #BFBFFD;
  color: #093E34;
}
.block-content.bg-has-circles {
  background-image: url(./assets/img/bg_circles.svg);
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}
.block-content .block-content-content {
  max-width: 58rem;
}
.block-content .block-content-content strong {
  display: block;
  font-size: 2.2rem;
  font-weight: bold;
  line-height: 3.6rem;
  margin: 3.2rem 0 0.8rem;
}
.block-content .block-content-content p:first-child strong {
  margin-top: 4.8rem;
}
@media screen and (max-width: 1023px) {
  .block-content.bg-has-circles {
    background-image: none;
  }
}

.block-contact {
  background: #BFBFFD;
  color: #342484;
}
.block-contact .block-inside {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 6rem;
  padding-right: 6rem;
}
.block-contact .block-contact-content {
  max-width: 84rem;
}
.block-contact p {
  font-style: italic;
  font-size: 3.6rem;
  line-height: 5rem;
}
@media screen and (max-width: 1279px) {
  .block-contact .block-inside {
    display: block;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }
  .block-contact .block-contact-content {
    max-width: 100%;
  }
  .block-contact p {
    margin-bottom: 4rem;
  }
}

.block-clients {
  background-color: #FFFFFF;
  color: #1C1C28;
}
.block-clients h3 {
  margin-bottom: 6.4rem;
  text-align: center;
}
.block-clients ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4rem;
}
.block-clients a {
  opacity: 1;
  transition: opacity 0.2s ease;
}
.block-clients a:hover {
  opacity: 0.8;
}
.block-clients img {
  display: block;
  height: 7.6rem;
  margin: 0 auto;
  width: 17.3rem;
}
@media screen and (max-width: 1023px) {
  .block-clients ul {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 767px) {
  .block-clients ul {
    display: block;
  }
  .block-clients li {
    margin-bottom: 4rem;
  }
}

/*# sourceMappingURL=theme.css.map */
