@use 'variables' as *;

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;  
}

html {
	font-size: 62.5%;
	min-height: 100vh;
	scroll-behavior: smooth;
}

body {
	@extend .font-serif;
	background: #F3F3F3 url(./assets/img/bg_pattern.jpg) repeat top center;
	font-size: 1.6rem;
	line-height: 1.2;
}

a {
    text-decoration: none;
}


/* HEADER */
header {

	.header-nav,
	.navigation,
	.site-navigation,
	nav ul {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	.header-nav {
		padding: 4rem 2rem 0;
	}

	.navigation,
	nav ul {
		gap: 2rem;
	}
	nav ul li {
		padding: 5rem 0;
	}

	a {
		@extend .font-serif-title;
		color: $black;
		font-size: 1.4rem;
		font-weight: bold;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
	}

	.menu {
		a {
			position: relative;
			
			&:before,
			&:after {
				background-color: currentColor;
				content: "";
				display: inline-block;
				vertical-align: middle;
				width: 8px;
				height: 1px;
				margin-top: -2px;
				transform: scaleX(0);
				opacity: 0;
				transition: .2s cubic-bezier(.22,.75,.39,.92);
			}

			&:before {
				margin-right: 5px;
				transform-origin: right;
			}

			&:after {
				margin-left: 5px;
				transform-origin: left;
			}

			&:hover {
				&:before,
				&:after {
					transform: scaleX(1);
					opacity: 1;
				}
			}
		}

		.current-menu-item {
			a {
				&:before,
				&:after {
					transform: scaleX(1);
					opacity: 1;
				}
			}
		}
	}

	.mobile-nav {
		display: none;
	}
}

/* MAIN */
.main {
    
}

/* FOOTER */
footer {
	
	.block-inside {
		padding: 2rem;
	}

	.block-footer {
		align-items: flex-start;
		background-color: grey;
		display: flex;
		justify-content: space-between;
		padding: 2rem;
	}
}

/* Button */
.button {
	

	&:hover {
		
	}
	&:focus {
		
	}
}
.button-small {

}
.button-light {
	
}
.button-dark {
	
}
.button-border-transparent {
	
}

/* Blocks */
.block {
	.block-inside {
        margin: 0 auto;
        max-width: $largedesktop;
		padding: 12rem 2rem;
	}
}

@media screen and (max-width: $maxnav) {
	header,
	footer,
	.block {
		
		.block-inside,
		.block-bottom .block-bottom-inside {
			background-color: $white;
			margin: 0 8rem;
		}
	}
}

@media screen and (max-width: $largedesktop) {

}

@media screen and (max-width: $desktop) {

	.block {
		.block-inside {
			margin: 0;
			padding: 8rem 0;
		}
	}
	body {
		overflow-x: hidden;
	}

	header {
		.block-inside {
			margin: 0 auto;
		}
		&.headroom {
			border-bottom: 0;
			height: 8rem;
		}
		.container,
		.header-nav {
			height: 100%;
		}
		.container {
			position: relative;
		}
		.logo {
			height: 4rem;
			margin: 2rem 0 2rem 2rem;
			width: 20rem;
			z-index: 1;

			img {
				display: block;
				width: 20rem;
			}
		}

		.header-nav {
			border-bottom: none;
			
			&:after {
				border-bottom: 1px solid $black;
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				height: 8rem;
				width: 100%;
				transiton: all 0.4s ease;
			}
		}

		nav {
			background-color: $white;
			display: block;
			bottom: 0;
			left: 0;
			height: 100svh;
			margin: 0;
			overflow-y: auto;
			padding-top: 8rem;
			position: fixed;
			right: 0;
			top: 0;
			transform: translate( 100vw, 0 );
			transition: transform 0.3s ease;

			ul {
				display: block;
			}
			a {
				color: $black;
				padding: 2rem;
				position: relative;
				transition: color 0.2s ease;

				&:hover {
					color: grey;
				}
			}

			.current-menu-item a {
				color: red;
			}
		}

		.mobile-nav {
			display: block;
		}

		.toggle-nav {
			height: 5rem;
			position: absolute;
			right: 2rem;
			top: 50%;
			transform: translateY(-50%);
			width: 5rem;

			span,
			&:before,
			&:after {
				background: grey;
				display: block;
				height: 0.1rem;
				opacity: 1;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 3rem;
				transition: all 0.2s linear;
			}

			&:before,
			&:after {
				content: "";
			}

			&:before {
				margin-top: -0.6rem;
			}

			&:after {
				margin-top: 0.6rem;
			}
		}
		
		&.nav-open {

			.header-nav:after {
				background-color: $white;
			}

			.container {
				nav {
					transform: translate(0, 0);
				}
			}

			&.headroom--unpinned {
				transform: none;
			}

			.toggle-nav {
				span,
				&:before,
				&:after {
					background: $black;
				}

				span {
					opacity: 0;
				}
				&:before,
				&:after {
					content: "";
					margin: 0;
				}
				&:before {
					transform: translateY(-50%) rotate(45deg);
				}
				&:after {
					transform: translateY(-50%) rotate(-45deg);
				}
			}
		}
	}

	.loaded {
		header {
			nav {
				transition: transform 0.4s ease;
			}
		}
	}
	.has-nav-open {
		height: 100svh;
		overflow: hidden;
	}

	.main {
		
	}

	footer {
		
	}
}

@media screen and (max-width: $tablet) {

	.button {
		display: block;
		text-align: center;
		width: 100%;
	}
}