@use 'variables' as *;

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;  
}

html {
	font-size: 62.5%;
	min-height: 100vh;
	scroll-behavior: smooth;
}

body {
	@extend .font-serif;
	background: white;
	font-size: 1.6rem;
	line-height: 1.2;
}

a {
	color: $orange;
    text-decoration: none;
}

@keyframes animate-lines {
    0%,100% {
        clip-path: inset(0 0 0 0);
        -webkit-clip-path: inset(0 0 0 0)
    }

    49% {
        clip-path: inset(0 0 100% 0);
        -weblkit-clip-path: inset(0 0 100% 0)
    }

    50% {
        clip-path: inset(100% 0 0 0);
        -webkit-clip-path: inset(100% 0 0 0)
    }
}
@keyframes animate-close-lines {
    0%,100% {
        clip-path: inset(0 0 0 0);
        -webkit-clip-path: inset(0 0 0 0)
    }

    49% {
        clip-path: inset(0 0 100% 0);
        -weblkit-clip-path: inset(0 0 100% 0)
    }

    50% {
        clip-path: inset(100% 0 0 0);
        -webkit-clip-path: inset(100% 0 0 0)
    }
}

/* MAIN */
.main {
    padding-top: 16rem;

	& > .block .block-inside {
		padding-top: 0;
	}
}

/* TAGLINE */
.tagline {
	@extend .font-italic;
	color: $white;
	margin: 4rem 0 0;

	a {
		color: white;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
		}
	}
}

/* INSTAGRAM */
.social-link {
	display: block;
	height: 7.4rem;
	margin: 0 auto;
	width: 7.4rem;

	img {
		display: block;
		height: 100%;
		width: 100%;
		transform: scale(1);
		transition: transform .2s ease;
	}

	&:hover {
		img {
			transform: scale(0.9);
		}
	}
}

/* Blocks */
.block {
	.block-inside {
        margin: 0 auto;
		padding: 2.5rem;
	}
}

header {
	.block-inside {
		background-color: white;
	}
}

header,
footer,
.block {
	.block-inside,
	.block-bottom .block-bottom-inside {
		max-width: $largedesktop;
		margin: 0 auto;
	}
}

@media screen and (max-width: $maxnav) {

}

@media screen and (max-width: $largedesktop) {
	header,
	footer,
	.block {
		
		.block-inside,
		.block-bottom .block-bottom-inside {
			margin: 0;
		}
	}

}

@media screen and (max-width: $desktop) {

	.block {
		.block-inside {
			margin: 0;
			padding: 0 0 4rem;
		}
	}
	.block-hero {
		.block-inside {
			max-height: 80vh;
			padding-bottom: 0;
		}
	}
	body {
		overflow-x: hidden;
	}

	.has-nav-open {
		height: 100svh;
		overflow: hidden;
	}

	.main {
		padding-top: 8rem;
	}
}

@media screen and (max-width: $tablet) {

}