@use 'variables' as *;

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;  
}

html {
	font-size: 62.5%;
	min-height: 100vh;
	scroll-behavior: smooth;
}

body {
	@extend .font-serif;
	background: $white url(./assets/img/bg_pattern.jpg) repeat top left;
	font-size: 1.6rem;
	line-height: 1.2;
}

a {
    text-decoration: none;
}

@keyframes animate-lines {
    0%,100% {
        clip-path: inset(0 0 0 0);
        -webkit-clip-path: inset(0 0 0 0)
    }

    49% {
        clip-path: inset(0 0 100% 0);
        -weblkit-clip-path: inset(0 0 100% 0)
    }

    50% {
        clip-path: inset(100% 0 0 0);
        -webkit-clip-path: inset(100% 0 0 0)
    }
}
@keyframes animate-close-lines {
    0%,100% {
        clip-path: inset(0 0 0 0);
        -webkit-clip-path: inset(0 0 0 0)
    }

    49% {
        clip-path: inset(0 0 100% 0);
        -weblkit-clip-path: inset(0 0 100% 0)
    }

    50% {
        clip-path: inset(100% 0 0 0);
        -webkit-clip-path: inset(100% 0 0 0)
    }
}

/* HEADER */
header {

	.logo {
		display: block;
		height: 7rem;
		margin: 2rem 0 2rem 2rem;
		width: 29rem;
		z-index: 1;

		svg {
			display: block;
			height: 100%;
			width: 100%;
		}
	}

	.header-nav,
	.navigation,
	.site-navigation,
	nav ul {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	.header-nav {
		padding: 8rem 2.5rem 0;
	}

	.navigation,
	nav ul {
		gap: 1rem;
	}
	nav ul li {
		padding: 5rem 0;
	}

	a {
		@extend .font-serif;
		color: $black;
		font-size: 1.4rem;
		font-weight: bold;
		letter-spacing: 0.12rem;
		text-transform: uppercase;
	}

	.menu {
		a {
			position: relative;
			
			&:before,
			&:after {
				background-color: currentColor;
				content: "";
				display: inline-block;
				vertical-align: middle;
				width: 8px;
				height: 1px;
				margin-top: -2px;
				transform: scaleX(0);
				opacity: 0;
				transition: .2s cubic-bezier(.22,.75,.39,.92);
			}

			&:before {
				margin-right: 5px;
				transform-origin: right;
			}

			&:after {
				margin-left: 5px;
				transform-origin: left;
			}

			&:hover {
				&:before,
				&:after {
					transform: scaleX(1);
					opacity: 1;
				}
			}
		}

		.current-menu-item {
			a {
				&:before,
				&:after {
					transform: scaleX(1);
					opacity: 1;
				}
			}
		}
	}

	.extra-nav {
		align-items: center;
		display: flex;
		height: 5.5rem;
		justify-content: center;
		margin-left: 2rem;
		width: 11rem;

		.lang-switcher {
			background-color: $orange;
			border: 1px solid $black;
			gap: 0.3rem;
			height: 5.5rem;
			justify-content: center;
			width: 5.5rem;

			li {
				padding: 0;
			}

			a {
				@extend .font-serif;
				color: $white;
				font-weight: normal;
				font-size: 1.1rem;
				opacity: 0.5;
			}
			.active a {
				opacity: 1;
			}
		}

		.extra-side--btn-open {
			align-items: center;
			background-color: transparent;
			border: 1px solid $black;
			border-left: transparent;
			display: flex;
			height: 5.5rem;
			justify-content: center;
			width: 5.5rem;
			transition: all 0.2s ease;

			.lines {
				display: block;
				height: 1.8rem;
				position: relative;
				width: 1.4rem;
			}
			.line {
				backface-visibility: hidden;
				background-color: currentColor;
				display: block;
				height: 100%;
				position: absolute;
				width: 0.1rem;
				transition: top .3s ease, transform .3s ease;
			}
			.line-1 {
				left: 0;
			}
			.line-2 {
				left: 50%;
			}
			.line-3 {
				left: 100%;
			}

			&:hover {
				background-color: $orange;
				border-color: $orange;
				color: $white;

				.line {
					animation: animate-lines .6s cubic-bezier(.38,.4,.47,.85) forwards;
				}
				.line-2 {
					animation-delay: .1s;
				}
				.line-3 {
					animation-delay: .2s;
				}
			}
		}
	}

	.mobile-nav {
		display: none;
	}
}

/* MAIN */
.main {
    
}

/* TAGLINE */
.tagline {
	@extend .font-italic;
	margin: 4rem 0 0;
}

/* INSTAGRAM */
.social-link {
	display: block;
	height: 7.4rem;
	margin: 0 auto;
	width: 7.4rem;

	img {
		display: block;
		height: 100%;
		width: 100%;
		transform: scale(1);
		transition: transform .2s ease;
	}

	&:hover {
		img {
			transform: scale(0.9);
		}
	}
}

/* FOOTER */
footer {
	
	.block-inside {
		padding: 2.5rem;
	}

	.block-footer {
		background: $white url(./assets/img/bg_footer.jpg) no-repeat center center;
		background-size: cover;

		display: grid;
		grid-template-columns: 3fr 5fr 2fr;
		gap: 1rem;
		
		padding: 2.5rem;
	}

	.logo-collection--container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.image {
		text-align: center;
		img {
			display: block;
			margin: 0 auto;
			max-width: 42rem;
		}
	}

	nav {
		align-items: flex-end;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		ul {
			text-align: right;
		}
		li {
			margin-top: 1.6rem;
		}

		a {
			color: $black;
			font-size: 1.4rem;
			font-weight: bold;
			letter-spacing: 0.12rem;
			text-transform: uppercase;

			&:hover {
				color: $orange;
			}
		}

		.social-link {
			margin: 4rem 0 0;
		}
	}
}

/* Blocks */
.block {
	.block-inside {
        margin: 0 auto;
        max-width: $largedesktop;
		padding: 12rem 2.5rem;
	}
}

@media screen and (max-width: $maxnav) {
	header,
	footer,
	.block {
		
		.block-inside,
		.block-bottom .block-bottom-inside {
			background-color: $white;
			margin: 0 8rem;
		}
	}
}

@media screen and (max-width: $largedesktop) {

}

@media screen and (max-width: $desktop) {

	.block {
		.block-inside {
			margin: 0;
			padding: 8rem 0;
		}
	}
	body {
		overflow-x: hidden;
	}

	header {

		.block-inside {
			margin: 0 auto;
		}
		&.headroom {
			border-bottom: 0;
			height: 8rem;
		}
		.container,
		.header-nav {
			height: 100%;
		}
		.header-nav {
			padding: 2rem;
		}
		.container {
			position: relative;
		}
		.logo {
			height: 4rem;
			width: 20rem;
		}

		.header-nav {
			border-bottom: none;
			
			&:after {
				border-bottom: 1px solid $black;
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				height: 8rem;
				width: 100%;
				transiton: all 0.4s ease;
			}
		}

		nav {
			background-color: $white;
			display: block;
			bottom: 0;
			left: 0;
			height: 100svh;
			margin: 0;
			overflow-y: auto;
			padding-top: 8rem;
			position: fixed;
			right: 0;
			top: 0;
			transform: translate( 100vw, 0 );
			transition: transform 0.3s ease;

			ul {
				display: block;
			}
			a {
				color: $black;
				padding: 2rem;
				position: relative;
				transition: color 0.2s ease;

				&:hover {
					color: grey;
				}
			}

			.current-menu-item a {
				color: red;
			}
		}

		.mobile-nav {
			display: block;
		}

		.toggle-nav {
			height: 5rem;
			position: absolute;
			right: 2rem;
			top: 50%;
			transform: translateY(-50%);
			width: 5rem;

			span,
			&:before,
			&:after {
				background: grey;
				display: block;
				height: 0.1rem;
				opacity: 1;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 3rem;
				transition: all 0.2s linear;
			}

			&:before,
			&:after {
				content: "";
			}

			&:before {
				margin-top: -0.6rem;
			}

			&:after {
				margin-top: 0.6rem;
			}
		}
		
		&.nav-open {

			.header-nav:after {
				background-color: $white;
			}

			.container {
				nav {
					transform: translate(0, 0);
				}
			}

			&.headroom--unpinned {
				transform: none;
			}

			.toggle-nav {
				span,
				&:before,
				&:after {
					background: $black;
				}

				span {
					opacity: 0;
				}
				&:before,
				&:after {
					content: "";
					margin: 0;
				}
				&:before {
					transform: translateY(-50%) rotate(45deg);
				}
				&:after {
					transform: translateY(-50%) rotate(-45deg);
				}
			}
		}
	}

	.loaded {
		header {
			nav {
				transition: transform 0.4s ease;
			}
		}
	}
	.has-nav-open {
		height: 100svh;
		overflow: hidden;
	}

	.main {
		
	}

	footer {
		
	}
}

@media screen and (max-width: $tablet) {

	.button {
		display: block;
		text-align: center;
		width: 100%;
	}
}