@use 'variables' as *;

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;  
}

html {
	font-size: 62.5%;
	min-height: 100vh;
	scroll-behavior: smooth;
}

body {
	@extend .font-sans;
	font-size: 1.6rem;
	line-height: 1.2;
}

a {
    text-decoration: none;
}


/* HEADER */
header {
	
}

/* MAIN */
.main {
    
}

/* FOOTER */
footer {
	
}

/* Button */
.button {
	

	&:hover {
		
	}
	&:focus {
		
	}
}
.button-small {

}
.button-light {
	
}
.button-dark {
	
}
.button-border-transparent {
	
}

/* Blocks */
.block {
	padding: 0 2rem;

	.block-inside {
        margin: 0 auto;
        max-width: $largedesktop;
		padding: 12rem 0;
	}
}

@media screen and (max-width: $maxnav) {
	header,
	footer,
	.block {
		.block-inside,
		.block-bottom .block-bottom-inside {
			margin: 0 8rem;
		}
	}
}

@media screen and (max-width: $largedesktop) {

}

@media screen and (max-width: $desktop) {

	.block {
		.block-inside {
			margin: 0;
			padding: 8rem 0;
		}
	}

	body {
		overflow-x: hidden;
	}

	.main {
		
	}

	footer {
		
	}
}

@media screen and (max-width: $tablet) {

	.button {
		display: block;
		text-align: center;
		width: 100%;
	}
}