@use 'variables' as *;

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;  
}

html {
	font-size: 62.5%;
	min-height: 100vh;
	scroll-behavior: smooth;
}

body {
	@extend .font-sans;
	background: #F3F3F3 url(./assets/img/bg_pattern.jpg) repeat top center;
	font-size: 1.6rem;
	line-height: 1.2;
}

a {
    text-decoration: none;
}


/* HEADER */
header {

	.header-nav,
	.navigation,
	nav ul {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	.navigation,
	nav ul {
		gap: 2rem;
	}
	nav ul li {
		padding: 5rem 0;
	}

	a {
		color: $black;
	}
	
}

/* MAIN */
.main {
    
}

/* FOOTER */
footer {
	
	.block-inside {
		padding: 2rem;
	}

	.block-footer {
		align-items: flex-start;
		background-color: grey;
		display: flex;
		justify-content: space-between;
		padding: 2rem;
	}
}

/* Button */
.button {
	

	&:hover {
		
	}
	&:focus {
		
	}
}
.button-small {

}
.button-light {
	
}
.button-dark {
	
}
.button-border-transparent {
	
}

/* Blocks */
.block {
	.block-inside {
        margin: 0 auto;
        max-width: $largedesktop;
		padding: 12rem 2rem;
	}
}

@media screen and (max-width: $maxnav) {
	header,
	footer,
	.block {
		
		.block-inside,
		.block-bottom .block-bottom-inside {
			background-color: $white;
			margin: 0 8rem;
		}
	}
}

@media screen and (max-width: $largedesktop) {

}

@media screen and (max-width: $desktop) {

	.block {
		.block-inside {
			margin: 0;
			padding: 8rem 0;
		}
	}

	body {
		overflow-x: hidden;
	}

	.main {
		
	}

	footer {
		
	}
}

@media screen and (max-width: $tablet) {

	.button {
		display: block;
		text-align: center;
		width: 100%;
	}
}