@use 'variables' as *;

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;  
}

html {
	font-size: 62.5%;
	min-height: 100vh;
	scroll-behavior: smooth;
}

body {
	@extend .font-serif;
	background: $white url(./assets/img/bg_pattern.jpg) repeat top left;
	font-size: 1.6rem;
	line-height: 1.2;
}

a {
    text-decoration: none;
}

.font-orange {
	color: $orange;
}
.font-italic {
	@extend .font-serif-italic;
}

@keyframes animate-lines {
    0%,100% {
        clip-path: inset(0 0 0 0);
        -webkit-clip-path: inset(0 0 0 0)
    }

    49% {
        clip-path: inset(0 0 100% 0);
        -weblkit-clip-path: inset(0 0 100% 0)
    }

    50% {
        clip-path: inset(100% 0 0 0);
        -webkit-clip-path: inset(100% 0 0 0)
    }
}
@keyframes animate-close-lines {
    0%,100% {
        clip-path: inset(0 0 0 0);
        -webkit-clip-path: inset(0 0 0 0)
    }

    49% {
        clip-path: inset(0 0 100% 0);
        -weblkit-clip-path: inset(0 0 100% 0)
    }

    50% {
        clip-path: inset(100% 0 0 0);
        -webkit-clip-path: inset(100% 0 0 0)
    }
}

/* HEADER */
header {

	.logo {
		display: block;
		height: 7rem;
		margin: 2rem 0 2rem 2rem;
		width: 29rem;
		z-index: 1;

		svg {
			display: block;
			height: 100%;
			width: 100%;
		}
	}

	.header-nav,
	.navigation,
	.site-navigation,
	nav ul {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	.header-nav {
		padding: 8rem 2.5rem 0;
	}

	.navigation,
	nav ul {
		gap: 1rem;
	}
	nav ul li {
		padding: 5rem 0;
	}

	a {
		@extend .font-serif;
		color: $black;
		font-size: 1.4rem;
		font-weight: bold;
		letter-spacing: 0.12rem;
		text-transform: uppercase;
	}

	.menu {
		a {
			position: relative;
			
			&:before,
			&:after {
				background-color: currentColor;
				content: "";
				display: inline-block;
				vertical-align: middle;
				width: 8px;
				height: 1px;
				margin-top: -2px;
				transform: scaleX(0);
				opacity: 0;
				transition: .2s cubic-bezier(.22,.75,.39,.92);
			}

			&:before {
				margin-right: 5px;
				transform-origin: right;
			}

			&:after {
				margin-left: 5px;
				transform-origin: left;
			}

			&:hover {
				&:before,
				&:after {
					transform: scaleX(1);
					opacity: 1;
				}
			}
		}

		.current-menu-item {
			a {
				&:before,
				&:after {
					transform: scaleX(1);
					opacity: 1;
				}
			}
		}
	}

	.extra-nav {
		align-items: center;
		display: flex;
		height: 5.5rem;
		justify-content: center;
		margin-left: 2rem;
		width: 11rem;

		.lang-switcher {
			background-color: $orange;
			border: 1px solid $black;
			gap: 0.3rem;
			height: 5.5rem;
			justify-content: center;
			width: 5.5rem;

			li {
				padding: 0;
			}

			a {
				@extend .font-serif;
				color: $white;
				font-weight: normal;
				font-size: 1.1rem;
				opacity: 0.5;
			}
			.active a {
				opacity: 1;
			}
		}

		.extra-side--btn-open {
			align-items: center;
			background-color: transparent;
			border: 1px solid $black;
			border-left: transparent;
			display: flex;
			height: 5.5rem;
			justify-content: center;
			width: 5.5rem;
			transition: all 0.2s ease;

			.lines {
				display: block;
				height: 1.8rem;
				position: relative;
				width: 1.4rem;
			}
			.line {
				backface-visibility: hidden;
				background-color: currentColor;
				display: block;
				height: 100%;
				position: absolute;
				width: 0.1rem;
				transition: top .3s ease, transform .3s ease;
			}
			.line-1 {
				left: 0;
			}
			.line-2 {
				left: 50%;
			}
			.line-3 {
				left: 100%;
			}

			&:hover {
				background-color: $orange;
				border-color: $orange;
				color: $white;

				.line {
					animation: animate-lines .6s cubic-bezier(.38,.4,.47,.85) forwards;
				}
				.line-2 {
					animation-delay: .1s;
				}
				.line-3 {
					animation-delay: .2s;
				}
			}
		}
	}

	.mobile-nav {
		display: none;
	}
}

/* MAIN */
.main {
    
}

/* TAGLINE */
.tagline {
	@extend .font-italic;
	margin: 4rem 0;
}

/* INSTAGRAM */
.social-link {
	display: block;
	height: 7.4rem;
	margin: 0 auto;
	width: 7.4rem;

	img {
		display: block;
		height: 100%;
		width: 100%;
		transform: scale(1);
		transition: transform .2s ease;
	}

	&:hover {
		img {
			transform: scale(0.9);
		}
	}
}

/* FOOTER */
footer {
	
	.block-inside {
		padding: 2.5rem;
	}

	.block-footer {
		align-items: flex-start;
		background: $white url(./assets/img/bg_footer.jpg) no-repeat center center;
		background-size: cover;
		display: flex;
		justify-content: space-between;
		padding: 2.5rem;
	}

	.image {
		img {
			display: block;
			max-width: 42rem;
		}
	}
}

/* Extra Side */
.extra-side {
	background: $white url(./assets/img/bg_pattern.jpg) repeat top left;
	bottom: 0;
	height: 100vh;
	left: auto;
	position: fixed;
	right: 0;
	top: 0;
	width: 40%;
	z-index: 1000;

	transform: translateX(100%);
	visibility: hidden;
	transition: all .6s cubic-bezier(.77,0,.175,1);

	&:before {
		content: "";
		position: absolute;
		inset: 0;
		background-color: rgba(255, 255, 255, 0.5);
		z-index: 0;
	}
	& > * {
		position: relative;
		z-index: 1;
	}

	&--btn-close {
		top: 4rem;
		right: 4rem;
		position: absolute;
		height: 2rem;
		width: 2rem;

		&:before,
		&:after {
			background-color: $black;
			content: "";
			display: block;
			height: 2rem;
			left: 50%;
			position: absolute;
			top: 50%;
			width: 0.1rem;

			backface-visibility: hidden;
			transition: top .3s ease, transform .3s ease;
		}
		&:before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}

		&:hover {
			&:before,
			&:after {
				animation: animate-close-lines .6s cubic-bezier(.38,.4,.47,.85) forwards;
			}
			&:after {
				animation-delay: .1s;
			}
		}
	}

	img {
		display: block;
		margin: 0 auto;
		max-height: 22rem;
	}

	&--inside {
		height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 12rem 0; 
		text-align: center;
	}

	.logo-side {
		svg {
			display: block;
			max-width: 28rem;
			margin: 0 auto;
		}
	}
	.logo-side-subtitle {
		@extend .font-serif-title;
		font-size: 2rem;
		font-weight: bold;
		text-transform: uppercase;
	}
	&--subtitle {
		@extend .font-italic;
		color: $orange;
		font-size: 3.6rem;
		font-weight: bold;
		margin-top: 1.6rem;
	}
}
.extra-side-cover {
	height: 100%;
    left: 0;
    opacity: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: rgba(43, 40, 36, .3);
    transition: .3s;
    width: 100%;
    z-index: 999;
    pointer-events: none;
}
.extra-side--opened {

	.extra-side {
		transform: translateX(0);
		visibility: visible;
	}

	.extra-side-cover {
		opacity: 1;
		pointer-events: all;
	}
}

/* Back to top */
#back-to-top {
	background-color: $orange;
	color: white;
	cursor: pointer;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 999;
	border: none;
	width: 45px;
	height: 45px;
	font-size: 22px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s, transform 0.3s;

	&:before,
	&:after {
		content: "";
		background: $white;
		position: absolute;
		height: 0.2rem;
		width: 1.4rem;
	}
	&:before {
		top: 50%;
		left: 60%;
		transform: translate(-50%, -50%) rotate(45deg);
	}
	&:after {
		top: 50%;	
		left: 40%;
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	&:hover {
		transform: scale(0.9);
	}

	&.show {
		opacity: 1;
		visibility: visible;
	}
}

/* Button */
.button {
	

	&:hover {
		
	}
	&:focus {
		
	}
}
.button-small {

}
.button-light {
	
}
.button-dark {
	
}
.button-border-transparent {
	
}

/* Blocks */
.block {
	.block-inside {
        margin: 0 auto;
        max-width: $largedesktop;
		padding: 12rem 2.5rem;
	}
}

@media screen and (max-width: $maxnav) {
	header,
	footer,
	.block {
		
		.block-inside,
		.block-bottom .block-bottom-inside {
			background-color: $white;
			margin: 0 8rem;
		}
	}
}

@media screen and (max-width: $largedesktop) {

}

@media screen and (max-width: $desktop) {

	.block {
		.block-inside {
			margin: 0;
			padding: 8rem 0;
		}
	}
	body {
		overflow-x: hidden;
	}

	header {

		.block-inside {
			margin: 0 auto;
		}
		&.headroom {
			border-bottom: 0;
			height: 8rem;
		}
		.container,
		.header-nav {
			height: 100%;
		}
		.header-nav {
			padding: 2rem;
		}
		.container {
			position: relative;
		}
		.logo {
			height: 4rem;
			width: 20rem;
		}

		.header-nav {
			border-bottom: none;
			
			&:after {
				border-bottom: 1px solid $black;
				content: "";
				display: block;
				position: absolute;
				bottom: 0;
				left: 0;
				height: 8rem;
				width: 100%;
				transiton: all 0.4s ease;
			}
		}

		nav {
			background-color: $white;
			display: block;
			bottom: 0;
			left: 0;
			height: 100svh;
			margin: 0;
			overflow-y: auto;
			padding-top: 8rem;
			position: fixed;
			right: 0;
			top: 0;
			transform: translate( 100vw, 0 );
			transition: transform 0.3s ease;

			ul {
				display: block;
			}
			a {
				color: $black;
				padding: 2rem;
				position: relative;
				transition: color 0.2s ease;

				&:hover {
					color: grey;
				}
			}

			.current-menu-item a {
				color: red;
			}
		}

		.mobile-nav {
			display: block;
		}

		.toggle-nav {
			height: 5rem;
			position: absolute;
			right: 2rem;
			top: 50%;
			transform: translateY(-50%);
			width: 5rem;

			span,
			&:before,
			&:after {
				background: grey;
				display: block;
				height: 0.1rem;
				opacity: 1;
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 3rem;
				transition: all 0.2s linear;
			}

			&:before,
			&:after {
				content: "";
			}

			&:before {
				margin-top: -0.6rem;
			}

			&:after {
				margin-top: 0.6rem;
			}
		}
		
		&.nav-open {

			.header-nav:after {
				background-color: $white;
			}

			.container {
				nav {
					transform: translate(0, 0);
				}
			}

			&.headroom--unpinned {
				transform: none;
			}

			.toggle-nav {
				span,
				&:before,
				&:after {
					background: $black;
				}

				span {
					opacity: 0;
				}
				&:before,
				&:after {
					content: "";
					margin: 0;
				}
				&:before {
					transform: translateY(-50%) rotate(45deg);
				}
				&:after {
					transform: translateY(-50%) rotate(-45deg);
				}
			}
		}
	}

	.loaded {
		header {
			nav {
				transition: transform 0.4s ease;
			}
		}
	}
	.has-nav-open {
		height: 100svh;
		overflow: hidden;
	}

	.main {
		
	}

	footer {
		
	}
}

@media screen and (max-width: $tablet) {

	.button {
		display: block;
		text-align: center;
		width: 100%;
	}
}