@use 'variables' as *;

* {
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;  
}

html {
	font-size: 62.5%;
	min-height: 100vh;
	scroll-behavior: smooth;
}

body {
	@extend .font-serif;
	background: $white url(./assets/img/bg_pattern.jpg) repeat top left;
	font-size: 1.6rem;
	line-height: 1.2;
}

a {
    text-decoration: none;
}

@keyframes animate-lines {
    0%,100% {
        clip-path: inset(0 0 0 0);
        -webkit-clip-path: inset(0 0 0 0)
    }

    49% {
        clip-path: inset(0 0 100% 0);
        -weblkit-clip-path: inset(0 0 100% 0)
    }

    50% {
        clip-path: inset(100% 0 0 0);
        -webkit-clip-path: inset(100% 0 0 0)
    }
}
@keyframes animate-close-lines {
    0%,100% {
        clip-path: inset(0 0 0 0);
        -webkit-clip-path: inset(0 0 0 0)
    }

    49% {
        clip-path: inset(0 0 100% 0);
        -weblkit-clip-path: inset(0 0 100% 0)
    }

    50% {
        clip-path: inset(100% 0 0 0);
        -webkit-clip-path: inset(100% 0 0 0)
    }
}

/* MAIN */
.main {
    
}

/* TAGLINE */
.tagline {
	@extend .font-italic;
	margin: 4rem 0 0;
}

/* INSTAGRAM */
.social-link {
	display: block;
	height: 7.4rem;
	margin: 0 auto;
	width: 7.4rem;

	img {
		display: block;
		height: 100%;
		width: 100%;
		transform: scale(1);
		transition: transform .2s ease;
	}

	&:hover {
		img {
			transform: scale(0.9);
		}
	}
}

/* Blocks */
.block {
	.block-inside {
        margin: 0 auto;
        max-width: $largedesktop;
		padding: 2.5rem;
	}
}

@media screen and (max-width: $maxnav) {
	header,
	footer,
	.block {
		
		.block-inside,
		.block-bottom .block-bottom-inside {
			background-color: white;
			margin: 0 8rem;
		}
	}
}

@media screen and (max-width: $largedesktop) {

}

@media screen and (max-width: $desktop) {

	.block {
		.block-inside {
			margin: 0;
			padding: 8rem 0;
		}
	}
	body {
		overflow-x: hidden;
	}

	.has-nav-open {
		height: 100svh;
		overflow: hidden;
	}

	.main {
		
	}
}

@media screen and (max-width: $tablet) {

}