@use './variables' as *;

/* FOOTER */
footer {
	
	.block-inside {
		padding: 0;
	}

	.block-footer {
		background: transparent;
		display: grid;
		grid-template-columns: 3fr 5fr 2fr;
		gap: 1rem;
		
		padding: 5rem;
	}

	.logo-collection--container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	.image {
		text-align: center;
		img {
			display: block;
			margin: 0 auto;
			max-width: 42rem;
		}
	}

	nav {
		align-items: flex-end;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		ul {
			text-align: right;
		}
		li {
			margin-top: 1.6rem;
		}

		a {
			color: $black;
			font-size: 1.4rem;
			font-weight: bold;
			letter-spacing: 0.12rem;
			text-transform: uppercase;

			&:hover {
				color: $orange;
			}
		}

		.social-link {
			margin: 4rem 0 0;
		}
	}

	@media screen and (max-width: $tablet) {
		.block-footer {
			display: flex;
			padding: 4rem 2rem;
			flex-direction: column;

			.logo-collection--container {
				order: 1;
			}
			nav {
				order: 2;
			}
			.image {
				order: 3;
			}
		}
		.image img {
			width: 100%;
		}
		nav {
			align-items: center;

			ul {
				text-align: center;
			}
			.social-link {
				max-height: 5rem;
				max-width: 5rem;
			}
		}
	}

	@media screen and (max-width: $desktop) {
		.logo-collection {
			&--svg {
				width: 24rem;
			}
			&--signature {
				width: 22rem;
			}
		}
		
	}
}