@use 'variables' as *;
@use 'titles' as *;

.page {

    .block-post-content {
        .block-inside {
            background-color: white;
        }

        h2 {
            @extend .h2;
            font-size: 4rem;
            margin-bottom: 2.5rem;
            text-align: center;
        }
    }

    .block-post-content-container {
        h3 {
            @extend .h3;
        }
        p {
            font-size: 1.6rem;
            line-height: 1.5;
            margin-bottom: 2.5rem;
        }
    }

    @media screen and (max-width: $largedesktop) {
        .block-post-content .block-inside {
            padding: 2rem;
        }
    }
}

.single-blog,
.single-post {
    
}