@use 'variables' as *;

.page,
.single {
    
}

.single-blog,
.single-post {
    
}

.block-post-content {
    background-color: $white;
    color: $black-bleu;

    .block-inside {

    }
}

.block-post-content,
.block-content-content {

    h4 {
        font-size: 2.4rem;
        font-weight: $wsemibold;
        line-height: 3.6rem;
    }

    p {
        @extend .body-copy;
        margin-bottom: 2.6rem;
    }
    strong {
        font-weight: $wbold;
    }

    .wp-block-columns {
        margin-bottom: 8rem;

        p:last-child {
            margin-bottom: 0;
        }
    }

    .wp-block-quote p {
        @extend .font-serif-medium;
        color: $purple-mid;
        font-size: 3.2rem;
        font-style: italic;
        line-height: 4.2rem;
    }
    a {
        color: $purple-mid;
        font-weight: $wsemibold;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }
    
    *:last-child {
        margin-bottom: 0;
    }

    .wp-block-image,
    .wp-block-embed {
        margin-bottom: 4rem;
    }
}

/* TODO FIX THAT */
/* Conteneur colonnes fluide */
.wp-block-columns.is-style-col-fluid {
    display: flex;
    flex-wrap: wrap;
    gap: 6rem;
}
.wp-block-columns.is-layout-flex {
    gap: 6rem;
}

/* Mobile */
.wp-block-columns.is-style-col-fluid > .wp-block-column {
    flex: 1 1 100% !important;
}

.wp-block-embed iframe {
    width: 100%;
}

/* Desktop classique : 3/5 et 2/5 */
@media (min-width: $tablet) {
    .wp-block-columns.is-style-col-fluid {
        gap: 12rem;
    }
    .wp-block-columns.is-style-col-fluid > .col-3-5 {
        flex: 0 0 calc(60% - 6rem) !important;
    }
    .wp-block-columns.is-style-col-fluid > .col-2-5 {
        flex: 0 0 calc(40% - 6rem) !important;
    }
    .wp-block-columns.is-layout-flex {
        gap: 12rem;
    }
}

/* Large desktop : 50/50 */
@media (min-width: $largedesktop) {
  .wp-block-columns.is-style-col-fluid > .wp-block-column {
    flex: 0 0 calc(50% - 6rem) !important;
  }
}
