@use 'variables' as *;
@use 'titles' as *;

.single {

  .product-toggles {
    border-top: 0.1rem solid $lightgrey;
  }

  .toggle {
    border-bottom: 0.1rem solid $lightgrey;
  }

  .toggle summary {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-variant: small-caps;
    font-weight: bold;
    justify-content: space-between;
    list-style: none;
    padding: 1.2rem 0;
  }

  .toggle summary::-webkit-details-marker {
    display: none;
  }

  .toggle summary .icon {
    width: 1.2rem;
    height: 1.2rem;
    position: relative;
    transition: transform 0.35s cubic-bezier(.4,0,.2,1);
  }

  .toggle summary .icon::before,
  .toggle summary .icon::after {
    content: '';
    position: absolute;
    background: currentColor;
  }

  .toggle summary .icon::before {
    top: 50%;
    left: 0;
    right: 0;
    height: 2px;
    transform: translateY(-50%);
  }

  .toggle summary .icon::after {
    left: 50%;
    top: 0;
    bottom: 0;
    width: 2px;
    transform: translateX(-50%);
  }

  /* contenu */
  .toggle .content {
    padding-bottom: 2rem;

    table {
      td {
        border: 0.1rem solid $grey;
        padding: 0.5rem 1rem;
      }
    }

    p {
      b {
        font-weight: bold;
      }
      i {
        font-style: italic;
      }
    }
  }

  .toggle .content > * {
    transform-origin: top;
    clip-path: inset(0 0 100% 0);
    opacity: 0;
    transform: translateY(-8px) scaleY(0.98);
  }

  .toggle .content p {
    line-height: 1.5;
  }

  /* ouvert */
  .toggle[open] .content > * {
    clip-path: inset(0 0 0 0);
    opacity: 1;
    transform: translateY(0) scaleY(1);
  }

  .toggle[open] summary .icon {
    transform: rotate(45deg);
  }

  .toggle[open] .content a {
    display: block;
  }

  .toggle[open] .content img {
    display: block;
    max-width: 30rem;
  }
}

.block-interlude {
  padding: 0 2rem;
  text-align: center;

  h4 {
    
  }

  .signature {
    margin: 2rem auto;
    max-width: 30rem;
  }
}