@use "reset";
@use "common";
@use "page";
@use "single";

@use "./components/age-gate";
@use "./components/back-top";
@use "./components/button";
@use "./components/extra-side";
@use "./components/logo-collection";

@use "./blocks/hero";
@use "./blocks/list";