@use './variables' as *;

/* TITLE */
h1, .h1 {
    
}
h2, .h2 {
    font-size: 3rem;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 0.2rem;
}
h3, .h3 {
    font-size: 2.2rem;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 0.2rem;
}
h4, .h4 {
    font-size: 2rem;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
h5, .h5 {
    
}
h6, .h6 {

}

.body {
    
}

// RESPONSIVE
@media screen and (max-width: $desktop) {
    h1, .h1 {

    }
    h2, .h2 {
        
    }
    h3, .h3 {

    }
    h4, .h4 {

    }
    h5, .h5 {
        
    }
    h6, .h6 {

    }
}

@media screen and (max-width: $tablet) {
    h1, .h1 {
        
    }
    h2, .h2 {
        
    }
    h3, .h3 {
        
    }
    h4, .h4 {
        
    }
    h5, .h5 {
        
    }
    h6, .h6 {

    }
}
