/* COLORS */
$black: #000000;
$white: #FFFFFF;
$grey-dark: #333333;
$grey-green: #2b322e;
$green-dark: #093E34;
$green-mid: #117D6A;
$green-light: #D1FFE0;
$green-light-alt: #B3E8C5;
$green-highlight: #dafee2;
$purple-dark: #342484;
$purple-mid: #5353B8;
$purple-light: #BFBFFD;

/* SCREEN SIZES */
$smallmobile: 465px;
$mobile: 767px;
$tablet: 1023px;
$desktop: 1279px;
$largedesktop: 1439px;
$maxdesktop: 1680px;
$maxnav: 1600px;

/* FONTS */
/*
@font-face {
    font-family: 'Media Sans SemiCondensed';
    src: url('./assets/fonts/MediaSansSemiCondensed-Regular.eot');
    src: url('./assets/fonts/MediaSansSemiCondensed-Regular.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/MediaSansSemiCondensed-Regular.woff2') format('woff2'),
        url('./assets/fonts/MediaSansSemiCondensed-Regular.woff') format('woff'),
        url('./assets/fonts/MediaSansSemiCondensed-Regular.ttf') format('truetype'),
        url('./assets/fonts/MediaSansSemiCondensed-Regular.svg#MediaSansSemiCondensed-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
*/

.font-serif {
    font-family: "sole-serif-small-variable", serif;
}
.font-serif-light {
    @extend .font-serif;
    font-variation-settings: "opsz" 500, "wght" 200;
}
.font-serif-regular {
    @extend .font-serif;
    font-variation-settings: "opsz" 500, "wght" 400;
}
.font-serif-medium {
    @extend .font-serif;
    font-variation-settings: "opsz" 500, "wght" 500;
}
.font-serif-bold {
    @extend .font-serif;
    font-variation-settings: "opsz" 500, "wght" 700;
}
.font-serif-black {
    @extend .font-serif;
    font-variation-settings: "opsz" 500, "wght" 900;
}
.font-sans {
    font-family: 'Montserrat', sans-serif;
    font-optical-sizing: auto;
}

/* TITLE */
h1, .h1 {

}
h2, .h2 {
    
}
h3, .h3 {

}
h4, .h4,
h5, .h5 {
    
}
h6, .h6 {

}

// RESPONSIVE
@media screen and (max-width: $desktop) {
    h1, .h1 {

    }
    h2, .h2 {
        
    }
    h3, .h3 {

    }
    h4, .h4,
    h5, .h5 {
        
    }
    h6, .h6 {

    }
}

@media screen and (max-width: $tablet) {
    h1, .h1 {

    }
    h2, .h2 {
        
    }
    h3, .h3 {

    }
    h4, .h4,
    h5, .h5 {
        
    }
    h6, .h6 {

    }
}
