/* COLORS */
$black: #000000;
$white: #faf9f5;
$orange: #bc6e44;
$grey: #727271;

/* SCREEN SIZES */
$smallmobile: 465px;
$mobile: 767px;
$tablet: 1023px;
$desktop: 1279px;
$largedesktop: 1439px;
$maxdesktop: 1680px;
$maxnav: 1600px;

/* FONTS */
@font-face {
    font-family: 'Baskerville';
    src: url('./assets/fonts/Baskerville.eot');
    src: url('./assets/fonts/Baskerville.eot?#iefix') format('embedded-opentype'),
        url('./assets/fonts/Baskerville.woff2') format('woff2'),
        url('./assets/fonts/Baskerville.woff') format('woff'),
        url('./assets/fonts/Baskerville.ttf') format('truetype'),
        url('./assets/fonts/Baskerville.svg#Baskerville') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MinionVariableConcept-Italic';
    src: url('./assets/fonts/MinionVariableConcept-Italic.woff2') format('woff2'),
        url('./assets/fonts/MinionVariableConcept-Italic.woff') format('woff'),
        url('./assets/fonts/MinionVariableConcept-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MinionVariableConcept-Roman';
    src: url('./assets/fonts/MinionVariableConcept-Roman.woff2') format('woff2'),
        url('./assets/fonts/MinionVariableConcept-Roman.woff') format('woff'),
        url('./assets/fonts/MinionVariableConcept-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.font-serif-title {
    font-family: "Baskerville", serif;
}
.font-serif {
    font-family: "MinionVariableConcept-Roman", serif;
}
.font-serif-italic {
    font-family: "MinionVariableConcept-Italic", serif;
}
.font-orange {
	color: $orange;
}
.font-italic {
	@extend .font-serif-italic;
}

$wlight: 200;
$wmedium: 500;
$wsemibold: 600;
$wbold: 700;
$wblack: 700;

.body-copy {
	font-size: 1.6rem;
    line-height: 2.6rem;
}
