@use '../variables' as *;

.block-clients {
    background-color: $white;
    color: $black-bleu;

    h3 {
        margin-bottom: 6.4rem;
        text-align: center;
    }

    ul {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4rem;
    }

    a {
        opacity: 1;
        transition: opacity 0.2s ease;

        &:hover {
            opacity: 0.8;
        }
    }

    img {
        display: block;
        height: 7.6rem;
        margin: 0 auto;
        width: 17.3rem;
    }

    @media screen and (max-width: $tablet) {
        ul {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (max-width: $mobile) {
        ul {
            display: block;
        }
        li {
            margin-bottom: 4rem;
        }
    }
}