@use '../variables' as *;

.block-columns {
    background-color: $white;
    color: $black-bleu;

    .block-inside {
        display: flex;
        flex-direction: column;
    }

    .chapo {
        @extend .font-serif;
        color: $purple-mid;
        font-style: italic;
        font-size: 2.6rem;
        margin-bottom: 5.6rem;
        width: 75%;
    }

    .block-columns-items {
        align-items: flex-start;
        display: flex;
        gap: 6rem;
        justify-content: space-between;

        .item-column {
            flex: 1;
        }
    }

    .button {
        margin: 4.8rem auto 0;
    }

    .item-column {

    }
    .item-icon {
        height: 9.5rem;
        margin-bottom: 1.6rem;

        img {
            display: block;
            height: 100%;
        }
    }
    .item-title {
        margin-bottom: 1.6rem;
    }
    .item-subtitle {
        color: $purple-mid;
        font-weight: $wsemibold;
        font-size: 2.2rem;
        line-height: 2.8rem;
        margin-bottom: 1.6rem;
        text-transform: uppercase;
    }
    .item-content {
        @extend .body-copy;
    }

    &.grid {
        .block-columns-items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 6.4rem 6rem;
        }
    }

    @media screen and (max-width: $tablet) {
        .block-columns-items {
            flex-direction: column;
        }
        .chapo {
            width: 100%;
        }
        &.grid {
            .block-columns-items {
                grid-template-columns: repeat(1, 1fr);
            }
        }
    }
}