@use '../variables' as *;

.block-columns {
    background-color: $white;
    color: $black-bleu;

    .block-inside {
        display: flex;
        flex-direction: column;
    }

    .chapo {
        @extend .font-serif;
        color: $purple-mid;
        font-style: italic;
        font-size: 2.6rem;
        margin-bottom: 5.6rem;
        width: 75%;
    }

    .block-columns-items {
        align-items: center;
        display: flex;
        gap: 6rem;
        justify-content: space-between;
    }

    .button {
        margin: 4.8rem auto 0;
    }

    .item-column {

    }
    .item-icon {
        margin-bottom: 1.6rem;
    }
    .item-title {
        margin-bottom: 1.6rem;
    }
    .item-content {
        @extend .body-copy;
    }

    &.grid {
        .block-columns-items {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 6.4rem 6rem;
        }
    }

    @media screen and (max-width: $tablet) {
        .block-columns-items {
            display: block;
        }
    }
}