@use '../variables' as *;

.block-contact {
    background: $purple-light;
    color: $purple-dark;

    .block-inside {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        padding-left: 6rem;
        padding-right: 6rem;
    }

    .block-contact-content {
        max-width: 84rem;
    }

    p {
        @extend .font-serif-regular;
        font-style: italic;
        font-size: 3.6rem;
        line-height: 5rem
    }

    @media screen and (max-width: $desktop) {
        .block-inside {
            display: block;
            margin: 0;
            padding-left: 0;
            padding-right: 0;
            text-align: center;
        }
        .block-contact-content {
            max-width: 100%;
        }
        p {
            margin-bottom: 4rem;
        }
    }
}