@use '../variables' as *;
@use '../components/button' as *;
@use '../titles' as *;

.page-contact-us,
.page-contactez-nous {

    .block-post-content {
        .block-inside {
            background-color: white;
        }
    }

    h2 {
        @extend .h3;
        font-size: 3rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .block-post-content-container {

        & > p {
            @extend .font-italic;
            color: $orange;
            font-size: 2rem;
            text-align: center;
        }

        p + .wp-block-columns {
            margin-top: 4rem;
        }
    }

    form {
        input[type=text],
        input[type=email],
        textarea {
            @extend .font-serif;
            appearance: none;
            border: 0.1rem solid $grey;
            border-radius: 0;
            font-size: 1.6rem;
            margin-bottom: 2rem;
            padding: 1.2rem;
            width: 100%;
        }

        input[type=submit] {
            @extend .button;
            @extend .button--primary;
            appearance: none;
            cursor: pointer;
        }

        input[aria-invalid=true],
        textarea[aria-invalid=true] {
            border-color: $red;
        }

        .wpcf7-form-control-wrap {
            display: block;
            position: relative;
        }
        .wpcf7-not-valid-tip {
            font-size: 1.2rem;
            position: absolute;
            right: 0;
            text-align: right;
            bottom: 0.5rem;
        }
    }

    .wpcf7 form .wpcf7-response-output {
        border: none;
        color: white;
        margin: 2rem 0 0;
        padding: 1rem;
    }
    .wpcf7 form.invalid .wpcf7-response-output {
        background: $red;
    }
    .wpcf7 form.sent .wpcf7-response-output {
        background: $green;
    }

    .wp-block-image {
        height: 60rem;

        img {
            display: block;
            object-fit: cover;
            margin: 0 auto;
            max-height: 100%;
            max-width: 100%;
            height: 100%;
            width: 100%;
        }
    }
}
