@use '../variables' as *;

.block-content {
    background-color: $white;
    color: $black-bleu;

    &.bg-purple-light {
        background-color: $purple-light;
        color: $green-dark;
    }
    &.bg-has-circles {
        background-image: url(./assets/img/bg_circles.svg);
        background-repeat: no-repeat;
        background-position: center center;
    }
}