@use '../variables' as *;
/*
.block-grid {
    background-color: $white;
    color: $black-bleu;

    .block-inside {
        display: flex;
        flex-direction: column;
    }

    h3 {
        margin-bottom: 4.8rem;
    }

    h5 {
        margin: 1.6rem 0;
    }

    .block-grid-swiper {
        width: 100%;

        .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 6.6rem;
        }

        .swiper-pagination {
            margin-top: 4rem;
            text-align: center;

            .swiper-pagination-bullet {
                opacity: 0.2;

                &-active {
                    background: $purple-light;
                    opacity: 1;
                }
            }
        }
    }
    .item-grid {
        img {
            display: block;
            width: 4rem;
        }
    }
    .item-content {
        @extend .body-copy;
    }

    .button {
        margin: 4.8rem auto 0;
    }

    @media screen and (max-width: $tablet) {

        .grid {
            display: block;
        }
    }
}
*/
.block-grid {
  background-color: $white;
  color: $black-bleu;

  .block-inside {
    display: flex;
    flex-direction: column;
  }

  h3 {
    margin-bottom: 4.8rem;
  }

  h5 {
    margin: 1.6rem 0;
  }

  .block-grid-swiper {
    width: 100%;

    .swiper-wrapper {
    //   gap: 4rem;
    }

    .swiper-slide {
      display: grid;
      grid-template-rows: repeat(3, auto);
      margin-bottom: 4rem;
    }

    .swiper-pagination {
    //   margin-top: 4rem;
      position: relative;
      text-align: center;

      .swiper-pagination-bullet {
        opacity: 0.2;

        &-active {
          background: $purple-light;
          opacity: 1;
        }
      }
    }
  }

  .item-grid {
    img {
      display: block;
      width: 4rem;
    }
  }

  .item-content {
    @extend .body-copy;
  }

  .button {
    margin: 4.8rem auto 0;
  }

  /* Desktop : 2 lignes × 3 colonnes */
  @media screen and (min-width: $tablet) {
    .block-grid-swiper .swiper-wrapper {
      display: grid !important;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      gap: 6.6rem;
    }
    .block-grid-swiper .swiper-slide {
      display: flex; // désactive grid en desktop
      flex-direction: column;
      gap: 1.6rem;
    }

    .swiper-pagination {
        display: none;
    }
  }

  @media screen and (max-width: $tablet) {
    .grid {
      display: block;
    }
  }
}

.block-grid-detail {
    background-color: $white;
    color: $black-bleu;

    .block-inside {
        padding: 8rem 0;
    }

    .item-grid {
        align-items: start;
        border-bottom: 0.1rem solid $black-bleu;
        display: flex;
        justify-content: flex-start;
        margin-bottom: 4rem;
        padding-bottom: 4rem;

        &:last-child {
            border-bottom: none;
            margin-bottom: 0;
            padding-bottom: 0;
        }

        img {
            display: block;
            margin-right: 4rem;
            width: 7.2rem;
        }

        h5 {
            flex-grow: 1;
        }

        .item-content {
            @extend .body-copy;
            margin-left: 4rem;
            width: 45%;

            ul {
                list-style-type: disc;
                margin: 0;
                padding-left: 1.2em;

                li::marker {
                    font-size: 1rem;
                }
            }
        }
    }



    @media screen and (max-width: $tablet) {

        .item-grid {
            flex-direction: column;

            img,
            h5 {
                margin-bottom: 1.6rem;
            }

            .item-content {
                margin: 0;
                width: 100%;
            }
        }
    }
}