@use '../variables' as *;

.block-grid {

    .title {

    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .button {
        margin: 2rem auto 0;
    }
}