@use '../variables' as *;

.block-grid {
    background-color: $white;
    color: $black-bleu;

    .block-inside {
        display: flex;
        flex-direction: column;
    }

    h3 {
        margin-bottom: 4.8rem;
    }

    h5 {
        margin: 1.6rem 0;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6.6rem;
    }
    .item-content {
        @extend .body-copy;
    }

    .button {
        margin: 4.8rem auto 0;
    }

    @media screen and (max-width: $tablet) {

        .grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media screen and (max-width: $mobile) {

        .grid {
            grid-template-columns: repeat(1, 1fr);
            gap: 4.4rem;
        }
    }
}