@use "../variables" as *;

.block-grid {
    .block-inside {
        background-color: white;
    }

    .nav-child-categories {
        align-items: center;
        display: flex;
        justify-content: center;
        gap: 4rem;
        margin-bottom: 4rem;
    }

    .nav-item{

        a {
            @extend .font-serif;
            color: $black;
            font-size: 1.4rem;
            font-weight: bold;
            letter-spacing: 0.12rem;
            text-transform: uppercase;

            &:hover {
                color: $orange;
            }
        }

        &.is-active a {
            color: $orange;
            font-weight: bold;
        }
    }

    &-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4rem;
    }

    .no-wines {
        text-align: center;
        margin-bottom: 4rem;
    }
}

.page .block-grid {
    .block-inside {
        padding-bottom: 6rem;
    }
}