@use "../variables" as *;

.block-grid {
    .block-inside {
        background-color: white;
    }

    &-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4rem;
    }
}