@use "../variables" as *;

.block-grid {
    .block-inside {
        background-color: white;
    }

    .nav-child-categories {
        align-items: center;
        // background-color: $orange;
        border-bottom: 0.1rem solid $orange;
        display: flex;
        justify-content: center;
        gap: 4rem;
        margin-bottom: 4rem;
        padding: 1rem 0;
    }

    .nav-item{

        a {
            @extend .font-serif;
            color: $orange;
            font-size: 1.4rem;
            font-weight: bold;
            letter-spacing: 0.12rem;
            padding: 1rem;
            position: relative;
            text-transform: uppercase;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: $orange;
                color: $white;
            }
        }

        &.is-active a {
            background-color: $orange;
            color: $white;
            // padding: 1.9rem;
        }
    }

    &-items {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 4rem;
    }

    .no-wines {
        text-align: center;
        margin-bottom: 4rem;
    }

    @media screen and (max-width: $tablet) {
        
        .block-inside {
            padding: 0 2rem;
        }

        .nav-child-categories {
            flex-direction: column;
            gap: 3rem;
        }

        &-items {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media screen and (max-width: $mobile) {
        &-items {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.page .block-grid {
    .block-inside {
        padding-bottom: 6rem;
    }
}