@use '../variables' as *;

.block-grid {
    background-color: $white;
    color: $black-bleu;

    .block-inside {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .title {

    }

    .grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .button {
        margin: 2rem auto 0;
    }
}