@use '../variables' as *;

.block-hero {
    background-color: $green-dark;

    .block-inside {
        display: flex;
        gap: 1rem;
        margin: 0 auto;
        max-width: $largedesktop;
    }

    .col {
        color: $purple-light;
        width: 50%;
    }

    .quote {
        @extend .font-serif;
        font-size: 5rem;
        font-style: italic;
    }
    .strong {
        font-weight: 900;
    }
    .author {
        font-size: 1.6rem;
        letter-spacing: -1.5%;
        margin: 2rem 0;
        text-transform: uppercase;
    }
}