@use '../variables' as *;

.block-hero {

    aspect-ratio: 17/9;
    overflow: hidden;
    padding: 0;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }
}