@use '../variables' as *;

.block-hero {

    overflow: hidden;
    padding: 0;
    width: 100%;

    .block-inside {
		background-color: white;
	}

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        display: block;
    }
}
