@use '../variables' as *;

.block-hero {

    .block-inside {
        padding: 8rem 0;
    }

    h1 {
        @extend .font-sans;
        font-size: 4rem;
        line-height: 7.2rem;
        text-transform: uppercase;
    }

    .chapo {
        @extend .font-serif-light;
        font-size: 3.2rem;
        font-style: italic;
        margin-top: 1.2rem;
        max-width: 70%;
    }
    strong {
        @extend .font-serif-black;
    }
}

.block-hero-image-container {
    height: 44rem;
    width: 100%;

    .block-hero-image {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }

    @media screen and (max-width: $desktop) {
        height: 32rem;
    }
}

.block-hero-home {
    background-color: $green-dark;

    .block-inside {
        align-items: center;
        display: flex;
        gap: 5rem;    
        padding: 12.5rem 0;
    }

    .col {
        color: $purple-light;
    }

    .quote {
        @extend .font-serif-light;
        font-size: 5rem;
        font-style: italic;
        margin-top: 3.2rem;
    }
    .strong {
        @extend .font-serif-black;
    }
    .author {
        font-size: 1.6rem;
        line-height: 4.4rem;
        margin: 1rem 0;
        text-transform: uppercase;
    }
    .button {
        margin-top: 3.2rem;
    }

    .hero-image {
        border-radius: 0.8rem;
        display: block;
        height: 65.8rem;
        object-fit: cover;
        width: 48.5rem;
    }

    @media screen and (max-width: $tablet) {

        .hero-image {
            display: none;
        }

    }
}