@use '../variables' as *;

.block-intro {
  margin-bottom: 4rem;


  &-content {
    max-width: 60rem;
    margin: 0 auto;
  }

  &-title {
    font-size: 3.2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }

  &-text {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;

    column-count: 2;
    column-gap: 4rem;

    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 2.5rem;
    padding: 0 12rem;
  }
}
