@use '../variables' as *;

.block-intro {

  .block-inside {
		background-color: white;
	}

  &-content {
    padding: 0 12rem;
    position: relative;
  }

  &-title,
  &-subtitle {
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
  }

  &-title {
    font-size: 3.2rem;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 0.2rem;
  }
  &-subtitle {
    @extend .font-serif-italic;
    color: $orange;
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 4rem;
  }

  &-text {

    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin: 0 auto 2.5rem;
    max-width: 80%;

    i {
      font-style: italic;
    }
    b, strong {
      font-weight: bold;
    }
    h6 {
      @extend .font-italic;
      color: $orange;
      margin: 2rem 0;
      text-align: center;
    }
    ul {
      list-style-type: circle;
      margin: 1rem 0;
      padding-left: 4rem;

      li {
        margin: 0.8rem 0;
      }
    }
  }

  &.cols-2 .block-intro-text {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;

    column-count: 2;
    column-gap: 4rem;
  }


  &-stamp {
    position: absolute;
    right: 0;
    top: 0;

    img {
      display: block;
      height: auto;
      width: 20rem;
    }
  }
}


.home .block-intro {

  &-title {
    margin-bottom: 1.5rem;
  }

  &-subtitle {
    font-size: 2.4rem;
    font-weight: normal;
  }

  &-content {
    padding-top: 6rem;
  }
}

.page-template-page-vins .block-intro {
  &-content {
    margin: 0 auto;
    max-width: 68rem;
    padding: 0;
  }
  &-text {
    margin-bottom: 0;
    max-width: 100%;
    text-align: center;
  }
}

.page-template-page-store-locator .block-intro {
  &-subtitle {
    font-size: 2.4rem;
    font-weight: normal;
  }
}


@media screen and (max-width: $desktop) {

  .block-intro {

    &-title, 
    &-subtitle {
      padding: 0 2rem;
    }

    &-text {
      max-width: 100%;
      padding: 0 2rem;
    }
    
    &-stamp {
      img {
        opacity: 0.5;
        width: 10rem;
      }
    }
  }

  .home .block-intro-content {
    padding: 0;
  }
  
}