@use '../variables' as *;

.block-intro {

  .block-inside {
		background-color: white;
	}

  &-content {
    padding: 6rem 12rem 0;
    position: relative;
  }

  &-title,
  &-subtitle {
    max-width: 40%;
    margin: 0 auto;
    text-align: center;
  }

  &-title {
    font-size: 3.2rem;
    font-weight: bold;
    font-variant: small-caps;
    letter-spacing: 0.2rem;
    margin-bottom: 1.5rem;
  }
  &-subtitle {
    @extend .font-serif-italic;
    color: $orange;
    font-size: 2.4rem;
    font-weight: normal;
    margin-bottom: 4rem;
  }

  &-text {
    break-inside: avoid;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;

    column-count: 2;
    column-gap: 4rem;

    font-size: 1.6rem;
    font-weight: bold;
    line-height: 2.6rem;
    margin: 0 auto 2.5rem;
    max-width: 80%;
  }

  &-stamp {
    position: absolute;
    right: 0;
    top: 0;

    img {
      display: block;
      height: auto;
      width: 25rem;
    }
  }
}
