@use '../variables' as *;

.block-list {
    background-color: $green-dark;
    color: $purple-light;

    .block-inside {
        display: flex;
        flex-direction: column;
    }

    .block-list-items {
        align-items: center;
        display: flex;
        justify-content: space-between;
        gap: 1rem;
    }

    .button {
        margin: 4.8rem auto 0;
    }
}