@use '../variables' as *;

.block-list {

    .block-inside {
		background-color: white;
	}

    &-header {
        align-items: center;
        display: flex;
        gap: 4rem;
        justify-content: center;
        margin-bottom: 4rem;

        .button {
            min-width: 15%;
        }
    }

    &-items {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;
    }
}

.home .block-list {
    .block-inside {
        padding-bottom: 6rem;
    }
}

@media screen and (max-width: $desktop) {
    .block-list {
        .block-inside {
            padding: 0 2rem 4rem;
        }

        &-header {
            display: block;
        }
        &-title {
            margin-bottom: 2rem;
            text-align: center;
        }
    }
}