@use '../variables' as *;

.block-list {
    background-color: $green-dark;
    color: $purple-light;

    h3 {
        margin-bottom: 5.6rem;
    }

    .block-inside {
        display: flex;
        flex-direction: column;
    }

    .block-list-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6.6rem;
    }

    .block-case-study {
        align-items: stretch;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 100%;
        overflow: hidden;

        img {
            display: block;
            max-height: 24.5rem;
            max-width: 100%;
            object-fit: cover;
        }

        .block-case-study-title {
            background-color: $white;
            border-radius: 0 0 0.8rem 0.8rem;
            color: $black-bleu;
            flex: 1;
            font-size: 2.2rem;
            font-weight: 500;
            line-height: 3.4rem;
            padding: 3.2rem 3.2rem 4rem;
            transition: background-color 0.2s ease;
        }

        &:hover {
            .block-case-study-title {
                background-color: $green-light;
                color: $green-dark;
            }
        }
    }

    .button {
        margin: 4.8rem auto 0;
    }

    @media screen and (max-width: $maxdesktop) {
        .block-list-items {
            gap: 4.4rem;
        }
    }

    @media screen and (max-width: $tablet) {

        .block-list-items {
            display: flex;
            flex-direction: column;
        }
        
        
    }
}