@use '../variables' as *;

.block-list {
    background-color: $green-dark;
    color: $purple-light;

    h3 {
        margin-bottom: 5.6rem;
    }

    .block-inside {
        display: flex;
        flex-direction: column;
    }

    .block-list-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 6.6rem;
    }

    .block-case-study {
        align-items: stretch;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: start;
        height: 100%;
        overflow: hidden;

        img {
            display: block;
            max-height: 24.5rem;
            max-width: 100%;
            object-fit: cover;
        }

        .block-case-study-details {
            background-color: $white;
            border-radius: 0 0 0.8rem 0.8rem;
            color: $black-bleu;
            flex: 1;
            font-size: 2.2rem;
            font-weight: $wmedium;
            line-height: 3.4rem;
            padding: 3.2rem 3.2rem 4rem;
            transition: all 0.4s ease;
        }

        .block-case-study-text {
            font-size: 1.8rem;
            font-weight: normal;
            line-height: 3rem;
            margin-top: 1.6rem;
        }

        &:hover {
            .block-case-study-details {
                background-color: $green-light;
                color: $green-dark;
            }
        }
    }

    &.bg-full-list {

        .block-list-items {
            grid-template-columns: repeat(2, 1fr);
            gap: 6rem;
        }

        .block-case-study img {
            max-height: 39.5rem;
        }

        .block-case-study-details {
            border: 0.1rem solid $purple-light;
            border-top: none;
        }
    }

    .button {
        margin: 4.8rem auto 0;
    }

	&.bg-white {
		background-color: $white;
	}

    &.light-mode {
        background-color: $white;

        h3 {
            color: $black-bleu;
        }
        .block-case-study-details {
            border: 0.1rem solid $purple-light;
            border-top: none;
        }
        .block-case-study:hover {
            .block-case-study-details {
                background-color: $purple-light;
                color: $black-bleu;
            }
        }
    }

    @media screen and (max-width: $maxdesktop) {
        .block-list-items {
            gap: 4.4rem;
        }
    }

    @media screen and (max-width: $tablet) {

        .block-list-items {
            display: flex;
            flex-direction: column;
        }

        &.bg-full-list .block-list-items {
            gap: 4rem;
        }

        .block-case-study .block-case-study-details {
            padding: 2.4rem 2.4rem 4rem;
        }
        
    }
}