@use '../variables' as *;

/* Back to top */
#back-to-top {
	background-color: $orange;
	color: white;
	cursor: pointer;
	position: fixed;
	bottom: 2rem;
	right: 2rem;
	z-index: 999;
	border: none;
	width: 45px;
	height: 45px;
	font-size: 22px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.3s, visibility 0.3s, transform 0.3s;

	&:before,
	&:after {
		content: "";
		background: $white;
		position: absolute;
		height: 0.2rem;
		width: 1.4rem;
	}
	&:before {
		top: 50%;
		left: 60%;
		transform: translate(-50%, -50%) rotate(45deg);
	}
	&:after {
		top: 50%;	
		left: 40%;
		transform: translate(-50%, -50%) rotate(-45deg);
	}

	&:hover {
		transform: scale(0.9);
	}

	&.show {
		opacity: 1;
		visibility: visible;
	}
}
