@use '../variables' as *;

/* Button */
.button {
	border: 0.1rem solid $black;
    color: $black;
    display: inline-block;
    font-size: 1.6rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    opacity: 1;
    padding: 1rem 3rem;
    transition: all 0.3s ease;
    text-align: center;
    text-transform: uppercase;

	&:hover {
		opacity: 0.9;
	}
	&:focus {
		
	}
}
.button--primary {
    @extend .font-serif;
    background-color: $orange;
    border-color: $orange;
    color: $white;

    &:hover {
        // background-color: transparent;
        border-color: $white;
    }
}
.button--transparent {
    border-color: $orange;
	color: $white;
    
    &:hover {
        // background-color: $orange;
        border-color: $white;
    }
}



@media screen and (max-width: $tablet) {

	.button {
		display: block;
		text-align: center;
		width: 100%;
	}
}