@use '../variables' as *;

/* Extra Side */
.extra-side {
	background: $white url(./assets/img/bg_pattern.jpg) repeat top left;
	bottom: 0;
	height: 100vh;
	left: auto;
	position: fixed;
	right: 0;
	top: 0;
	width: 40%;
	z-index: 1000;

	transform: translateX(100%);
	visibility: hidden;
	transition: all .6s cubic-bezier(.77,0,.175,1);

	&:before {
		content: "";
		position: absolute;
		inset: 0;
		background-color: rgba(255, 255, 255, 0.5);
		z-index: 0;
	}
	& > * {
		position: relative;
		z-index: 1;
	}

	&--btn-close {
		top: 4rem;
		right: 4rem;
		position: absolute;
		height: 2rem;
		width: 2rem;

		&:before,
		&:after {
			background-color: $black;
			content: "";
			display: block;
			height: 2rem;
			left: 50%;
			position: absolute;
			top: 50%;
			width: 0.1rem;

			backface-visibility: hidden;
			transition: top .3s ease, transform .3s ease;
		}
		&:before {
			transform: translate(-50%, -50%) rotate(45deg);
		}
		&:after {
			transform: translate(-50%, -50%) rotate(-45deg);
		}

		&:hover {
			&:before,
			&:after {
				animation: animate-close-lines .6s cubic-bezier(.38,.4,.47,.85) forwards;
			}
			&:after {
				animation-delay: .1s;
			}
		}
	}

	img {
		display: block;
		margin: 0 auto;
		max-height: 22rem;
	}

	&--inside {
		height: 100vh;
		overflow-x: hidden;
		overflow-y: auto;
		padding: 12rem 0; 
		text-align: center;
	}

	&--subtitle {
		@extend .font-italic;
		color: $orange;
		font-size: 3.6rem;
		font-weight: bold;
		margin-top: 1.6rem;
	}
	.tagline {
		margin: 4rem 0;
	}

    &-cover {
        height: 100%;
        left: 0;
        opacity: 0;
        overflow: hidden;
        position: fixed;
        top: 0;
        background-color: rgba(43, 40, 36, .3);
        transition: .3s;
        width: 100%;
        z-index: 999;
        pointer-events: none;
    }
    &--opened {

        .extra-side {
            transform: translateX(0);
            visibility: visible;
        }

        .extra-side-cover {
            opacity: 1;
            pointer-events: all;
        }
    }
}