@use '../variables' as *;

.block-nav-case-study {
    background-color: $white;
    border-top: 0.1rem solid $purple-light;

    .block-inside {
        align-items: center;
        display: flex;
        justify-content: space-between;
        padding: 4rem 0;
    }

    .prev,
    .next {
        a {
            align-items: flex-start;
            display: flex;
            color: $black-bleu;
            flex-direction: column;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 2.6rem;
            text-transform: uppercase;
            
            &:hover {
                color: $purple-dark;
            }
        }

        .thumbnail {
            display: block;
            height: 16rem;
            margin-bottom: 1.6rem;
            width: 29rem;

            img {
                display: block;
                height: 100%;
                object-fit: cover;
                width: 100%;
            }
        }
        .arrow {
            margin-top: 0.5rem;
        }

    }
    .next {
        a {
            align-items: flex-end;
        }
        .arrow {
            transform: rotate(180deg);
        }
    }
}