@use '../variables' as *;
@use '../components/button' as *;
@use '../titles' as *;

.block-store-locator {
    .block-inside {
        background-color: white;
    }

    h2 {
        @extend .h3;
        font-size: 3rem;
        margin-bottom: 6rem;
        text-align: center;
    }

}

/* Conteneur principal */
.store-locator {
    display: flex;
}

/* Colonne liste */
.store-left {
    flex: 1;
    padding: 0 2rem 0;
}
.store-list {
    overflow-y: auto;
    box-sizing: border-box;
    min-height: 50rem;
    height: 80vh;
    max-height: 80vh;
    overflow: auto;
}

/* Champ de recherche */
.store-search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.store-search {
    flex: 1;
    width: 100%;
    padding: 10px 30px 10px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.clear-search {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    line-height: 0;
    color: #888;
    cursor: pointer;
    padding: 8px 12px 12px;
}

.clear-search:hover {
    color: #333;
}


/* Liste des magasins */
.stores {
    list-style: none;
    padding: 0;
    margin: 0;

    .store-item {
        padding: 1rem;
        border-bottom: 1px solid $white;
        cursor: pointer;
        transition: background-color 0.2s;

        &:hover {
            background-color: $white;
        }

        &-name {
            display: block;
            font-weight: bold;
            font-variant: small-caps;
            font-size: 2rem;
        }
        &-address {
            display: block;
            font-size: 1.6rem;
        }
        &-hours, &-email, &-phone {
            display: block;
            font-size: 1.6rem;
            color: $orange;
        }

        &.active {
            background-color: $white;
            border-left: 3px solid $orange;

            .store-item-address {
                color: $orange;
            }
        }

    }
}

/* Colonne carte */
.store-map {
    flex: 2;
    min-height: 50rem;
}

@media screen and (max-width: $tablet) {
    .store-locator {
        flex-direction: column;
    }
    .store-left {
        padding-bottom: 2rem;
    }
    .store-list {
        height: 50rem;
    }
}