@use '../variables' as *;

.wine-item {

    &-title {
        text-align: center;

        span {
            display: block;
        }
        .collection {
            @extend .font-serif-italic;
            color: $orange;
            margin-top: 2rem;
        }
        .label {
            color: $black;
            font-weight: bold;
            margin-top: 0.5rem;
            text-transform: uppercase;
        }
        .detail {
            color: $black;
            font-variant: small-caps;
            letter-spacing: 0.1rem;
        }
    }

    &-image {
        background-color: $white;
        padding: 0 2rem;
    }
    img {
        display: block;
        max-width: 100%;
    }
}