@use '../variables' as *;

.wine-item {

    &-title {
        text-align: center;

        span {
            display: block;
        }
        .collection {
            @extend .font-serif-italic;
            color: $orange;
            margin-top: 2rem;
        }
        .label {
            color: $black;
            font-weight: bold;
            margin-top: 0.5rem;
            text-transform: uppercase;
        }
        .detail {
            color: $black;
            font-variant: small-caps;
            letter-spacing: 0.1rem;
        }
    }

    &-image {
        align-items: center;
        background-color: $white;
        display: flex;
        justify-content: center;
        height: 30rem;
        padding: 0 2rem;
    }
    img {
        display: block;
        margin: 0 auto;
        max-height: 100%;
        max-width: 100%;
        padding: 1rem;

        opacity: 1;
        transform: scale(1);
        transition: all 0.3s ease;
    }

    &:hover {

        img {
            opacity: 0.7;
            transform: scale(0.95);
        }
    }
}